// Our Members Section
.our-members {
    position: relative;
    padding-top: 37px;
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100vh - 135px);
      background-image:linear-gradient(to left , rgba(250,250,250,0.1) , rgba(250,250,250,0.9)) , url($img-path + "Our-Members-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
    & > * {
      position: relative;
      z-index: 1;
    }
    .inner-heading h1 {
      margin-bottom: 47px;
    }


    h2 {
        font-size: 40px;
        line-height: 48px;
        font-family: Roboto;
        font-weight: $w-black;
        color: $black-color;
        span {
          color: $red-color;
        }
      }

      .trade-box {
      
        
        .header {
          padding-top: 0;
          margin-bottom: 18px;
          .itfc {
            color: $extra-bright-orange-color;
          }
          p {
            margin-top: 33px;
            font-size: 18px;
            font-weight: $w-bold;
            color: $black-color;
          }
        }
      }
      #trade-content {
        &.collapsed {
          max-height: 450px;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 80px;
            width: 100%;
            z-index: 2;
           ;
       
          }
          .read-more {
            display: block;
            &.less {
              display: none;
            }
          }
        }
      }




  }


.our-members-table{

  margin-top: 100px;
  max-height:100%;
  width: 100%;
  padding:21px;
  background-color: #ffffff;
  border: 1px solid $border-color-2;
  box-shadow: 0  3px 45px rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;
  margin-top: 70px;

  table{
      
  
      tbody tr:nth-of-type(odd){
          background-color: $gray-bg;
      }
      thead{

          border-bottom: 1px solid $border-color-2;
          th{
              color: $red-color;
              font-weight: $w-bold;
          }
      } 

      tbody{

          tr th{
          color: $black-color;
          font-weight: $w-medium;
          border: none;

          }    
          .sub-total{
              background-color: $red-color !important;
              color: #ffffff !important;
              font-weight: $w-bold !important;

              th{
                  color: #ffffff !important;
                  font-weight: $w-bold !important;
              }

          }
      }
      .type-label{
          font-size: 12px;
          color: #ffffff;
          padding: 4px 6px ;
          border-radius: 3px;

          &-1{
              background-color: $red-color;

          }

          &-2{
              background-color: $secondary-color;

          }

      }
  }
  



}


//Senior Mannagement 
.senior-management {
  padding-top: 39px;
  position: relative;
  &::after {
    content: "";
    background-image: url($img-path + "globe-dotted-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &.inner-heading h1{
    margin-bottom: 40px;
  }

  .col-lg-3{
    padding: 0;
    padding-right: 21px;

  }

  &_member-card {
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #0000001A;
    .img-box {
      max-height: 289px;
      overflow: hidden;
      img {
       
        min-width: 100%;
      }
    }

    &--content-box {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 19px;
      padding-left: 13px;
      h4 {
        font-size: 20px;
        font-weight: $w-bold;
        color: $black-color;
        margin-bottom: 10px;
        overflow: hidden;
        // line-height: 33px; this will be applayed if needed 
        // height: calc(33px * 2);

        
      }

      p{
        font-size: 16px;
        margin: 0;

      }



    }

    &:hover{
      h4{
        color:$red-color;
        animation: title-color-change 0.3s ease-out;
      }
    }
  }

  .pager{
    margin-top: 148px;
    margin-bottom: 87px;
  }






}




//senior manger profile

.senior-manager{
  padding-top: 40px;
  background-color: $gray-bg;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom:31px ;
  min-height: calc(100vh - 135px);
  &_box{
    &--img-box{
      
  

      img{
        border: 3px solid #ffffff;
        max-width:100%;
        margin-bottom: 18px;
        
      }

      &-social{
        span{
          display: flex;
          font-size: 16px;
          color: $p-color;
          align-items:center;


          a{
            color: inherit;
            font-size: 24px;
            margin: 0 6px;
            &:hover{
              color: $red-color;
              transition: color 0.5s ease-in-out;
            }
          }


        }
      }
    }

    &--content-box{
      h2{
        color: $black-color;
        font-size:25px ;
        font-weight: $w-bold  ;
        margin-bottom: 10px;
      }

      .description{
        color: $p-color;
        font-size: 20px;
        font-weight: $w-medium;
        margin-bottom: 10px;  
      }
      a{
        color: $red-color;
        font-size: 16px;
        font-weight: $w-medium;
        margin-bottom: 21px;
      }

      p{
        color: $p-color;
        font-size: 18px;
        font-weight: $w-medium;
        
      }



    }
    



  }


  &_body-text{
    padding:50px 0;
    margin-bottom: 295px;

    p{
      color: $p-color;
      font-size: 18px;
      font-weight: $w-medium;
    }
  }


 

  
}













































//animations


@keyframes title-color-change {
  from { color: $black-color;}
  to { color: $red-color;}
}



