// here goes M. moussa new sass code



.custom-control{
    margin-bottom: 5px;
    .custom-control-label{
        font-size: 15px;
        font-weight: $w-medium;
        font-family: "montserrat";
        line-height: 28px;
        padding-#{$start-direction}: 5px;
        color: $p-color;
        &::before{
            width: 18px;
            height: 18px;
            border-radius: 0;
            border: 2px solid #E0E3E5;
        }
       
    }
}
.custom-control-input:checked ~ .custom-control-label::before{
    color: #fff;
    border-color: #E0E3E5;
    background-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
   
    left: -22px;
    background-size: 13px 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18'%3E%3Cpath id='Path' d='M0,9.766,8.219,18,24,2.234,21.734,0,8.219,13.5,2.234,7.516Z' fill='%23365029'/%3E%3C/svg%3E%0A");
}

.events-list-section {
    .list-with-filter{
        width: 100%;
    }
    .top-filter{
        padding-bottom: 28px !important;
        .left-filter{
            .nav.nav-pills{
                .nav-item{
                    border-bottom: 2px solid $red-color;
                    .nav-link{
                        padding: 10px 15px;
                        color: $p-color;
                        background-color: #fff;
                        border: 1px solid #E8EBEF;
                        font-size: 16px;
                        // line-height: 28px;
                        height: 40px;
                        font-weight: $w-medium;
                        border-radius: 0;
                        &.active{
                            background-color: $red-color;
                            border: 1px solid $red-color;
                            color: #fff;
                        }
                    }
                    &:first-child{
                        padding-#{$end-direction}: 10px;
                    }
                }
            }
        }
    }
    .list-filter{
        transition: 850ms;
        .side-filter-btn{
            width: 18px;
            height: 18px;
            position: absolute;
            right: -18px;
            top: 0;
            border: 1px solid #E4E6E9;
            background-image: url($img-path + "/events/left-arrow.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #fff;
            transition: 500ms;
        }
        .closed-filter-btn{
            transform: rotate(180deg);
            right: 0;
        }
        .closed{
            display: none;
            // transition: 300ms;
        }
    }
    .widthZero{
        width: 0 !important;
    }


}

// events inner

.events-inner{
    padding-bottom: 0;
    &::before{
        background-image: url($img-path + "/events/toparea-bg.png");
    }
    .news-inner-card{
        min-height: auto;
        margin-bottom: 0;
        .left-news-section{
            h2{
                margin-bottom: 23px;
            }
            div.date{
                font-size: 18px;
                margin-bottom: 22px;
                margin-top: 0;
                img{
                    margin-#{$end-direction}: 15px;
                }
            }
            div.location{
                font-size: 18px;
                color: $black-color;
                font-weight: $w-medium;
                margin-bottom: 24px;
                img{
                    margin-#{$end-direction}: 15px;
                    vertical-align: text-top;
                }
            }
            div.location-details{
                margin-bottom: 21px;
                p{
                    display: inline-block;
                    margin: 0;
                    font-size: 18px;
                    font-weight: $w-bold;
                    line-height: 26px;
                }
                .label{
                    color: $orange-color;
                }
                .location{
                    color: $black-color;
                }
                .detail{
                    color: $black-color;
                    font-weight: $w-medium;
                }
            }
            .more-details{
                margin-bottom: 40px;
                p{
                    display: inline-block;
                    margin: 0;
                    font-size: 14px;
                    font-weight: $w-bold;
                    line-height: 26px;
                    color: $black-color;
                    span{
                        font-weight: $w-medium;
                    }
                    &:first-child{
                        margin-#{$end-direction}: 45px;
                    }
                }
            }
            .action-btns{
                margin-bottom: 50px;
                .btn-pdf{
                   height: 55px;
                   border: 2px solid #DDE2E9;
                   background-color: #fff;
                   font-size: 16px;
                   font-weight: $w-medium;
                   color: $black-color;
                   border-radius: 0;
                   margin-#{$end-direction}: 30px;
                //    padding: 14px 25px 12px 18px;
                    padding-#{$start-direction}: 18px;
                    padding-#{$end-direction}: 25px;
                   img{
                    margin-#{$end-direction}: 7px;
                    vertical-align: middle;
                   }
                   &:hover{
                       color: $red-color;
                   }
                   &:last-child{
                    margin-#{$end-direction}: 0;
                   }
                }
                .btn-red{
                    height: 55px;
                    padding: 16px 45px;
                    border-radius: 0;
                    font-size: 16px;
                    font-weight: $w-medium;
                    img{
                        margin-#{$start-direction}: 7px;
                        vertical-align: middle;
                       }
                       &:hover{
                           background-color: #EB3F48;
                           border-color: #EB3F48;
                       }
                }
            }
            .details-h4{
                font-size: 18px;
                font-weight: $w-bold;
                color: #EB412F;
                margin-bottom: 18px;
            }
        }
        .size-changes{
            .card-1{
                border-color: #90426F;
                h4{
                    img{
                        float: right;
                        vertical-align: text-top;
                    }
                }

                .upcoming-event{
                    list-style: none;
                    padding-#{$start-direction}: 0;
                    li{
                        position: relative;
                        margin-bottom: 30px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        p.ev-date{
                            color: $bright-orange-color;
                            font-size: 14px;
                            font-weight: $w-medium;
                            line-height: 23px;
                            margin-bottom: 0;
                        }
                        a{
                            &:hover{
                            color: $bright-orange-color;
                            }
                        }
                        p.ev-location{
                            color: $p-color;
                            font-size: 14px;
                            font-weight: $w-medium;
                            line-height: 25px;
                            margin-bottom: 0;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }

        // speakers slider section
        .speakers{
            padding-top: 75px;
            padding-bottom: 70px;
            position: relative;
            &::after{
                content: "";
                width: calc(100% - 60px);
                height: 2px;
                background-color: #DDE1E6;
                position: absolute;
                left: 30px;
                bottom: 0;
            }
            h3{
                color: $red-color;
                font-size: 35px;
                font-weight: $w-bold;
                // line-height: 26px;
                margin-bottom: 80px;
            }
            .owl-carousel{
                .owl-stage-outer{
                    width: 935px;
                    margin: 0 auto;
                }
                .item{
                    .main-sec{
                        position: relative;
                        height: 273px;
                        width: 210px;
                        border: 1px solid transparent;
                        .slider-image{
                            overflow: hidden;
                            width: 207px;
                            height: 219px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .slider-content{
                            text-align: center;
                            margin-top: 10px;
                            h4{
                                font-size: 16px;
                                font-weight: $w-bold;
                                line-height: 19px;
                                color: $black-color;
                                margin-bottom: 5px;
                                height: 19px;
                                overflow: hidden;
                            }
                            p{
                                font-size: 16px;
                                font-weight: $w-medium;
                                line-height: 19px;
                                color: $p-color;
                                margin: 0;
                                height: 19px;
                                overflow: hidden;
                            }
                        }
                        .detailed-hidden{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            transition: 500ms;
                            background-color: #fff;
                            text-align: center;
                            padding-top: 18px;
                            padding-#{$start-direction}:16px ;
                            padding-#{$end-direction}:12px ;

                            p{
                                font-size: 14px;
                                font-weight: $w-medium;
                                // line-height: 21px;
                                color: $color-default;
                                margin: 0;
                                height: 203px;
                            }
                            div.social{
                                margin-top: 5px;
                                div{
                                    width: 18px;
                                    height: 18px;
                                    display: inline-block;
                                    margin-#{$start-direction}:10px ;
                                    &:first-child{
                                    margin-#{$start-direction}:0 ;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 1px solid #E1E4E9;
                            .detailed-hidden{
                                opacity: 1;
                            }
                        }
                    }
                }
                .owl-nav{
                    position: absolute;
                    width: 100%;
                    top: 35%;
                    margin: 0;
                    button{
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        border: 1px solid #DED4D0;
                        position: absolute;
                        background-position: center center;
                        background-repeat: no-repeat;
                        transition: 200ms;
                        background-color: #fff;
                        margin: 0;
                        &:hover{
                            background-color: #fff;
                        }
                        span{
                            display: none;
                        }
                    }
                    .owl-prev{
                        left: 0;
                        background-image: url($img-path + "/events/slider-left-arrow.svg");
                    }
                    .owl-next{
                        right: 0;
                        background-image: url($img-path + "/events/slider-right-arrow.svg");

                    }
                }
            }
        }

        // organizer slider section
        .organizer{
            padding-top: 50px;
            padding-bottom: 70px;
            position: relative;
            // border-bottom: 2px solid #DDE1E6;
            &::after{
                content: "";
                width: calc(100% - 60px);
                height: 2px;
                background-color: #DDE1E6;
                position: absolute;
                left: 30px;
                bottom: 0;
            }

            h3{
                color: $red-color;
                font-size: 35px;
                font-weight: $w-bold;
                // line-height: 26px;
                margin-bottom: 70px;
            }
            .owl-carousel{
                .owl-stage-outer{
                    width: 1110px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                .item{
                    .main-sec{
                        position: relative;
                        height: 170px;
                        width: 205px;
                        .slider-image{
                            overflow: hidden;
                            width: 157px;
                            height: 115px;
                            margin: 0 auto;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .slider-content{
                            text-align: center;
                            h4{
                                font-size: 16px;
                                font-weight: $w-medium;
                                line-height: 25px;
                                color: $black-color;
                                // height: 19px;
                                overflow: hidden;
                            }
                        }
                        
                        
                    }
                }
                .owl-nav{
                    position: absolute;
                    width: 100%;
                    top: 35%;
                    margin: 0;
                    button{
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        border: 1px solid #DED4D0;
                        position: absolute;
                        background-position: center center;
                        background-repeat: no-repeat;
                        transition: 200ms;
                        background-color: #fff;
                        margin: 0;
                        &:hover{
                            background-color: #fff;
                        }
                        span{
                            display: none;
                        }
                    }
                    .owl-prev{
                        left: 0;
                        background-image: url($img-path + "/events/slider-left-arrow.svg");
                    }
                    .owl-next{
                        right: 0;
                        background-image: url($img-path + "/events/slider-right-arrow.svg");

                    }
                }
            }
        }

         // sponsors slider section
         .sponsors{
            padding-top: 50px;
            padding-bottom: 60px;
            position: relative;
           
            h3{
                color: $red-color;
                font-size: 35px;
                font-weight: $w-bold;
                margin-bottom: 70px;
            }
            .owl-carousel{
                .owl-stage-outer{
                    width: 1110px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                .item{
                    .main-sec{
                        position: relative;
                        height: 170px;
                        width: 205px;
                        .slider-image{
                            overflow: hidden;
                            width: 157px;
                            height: 115px;
                            margin: 0 auto;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .slider-content{
                            text-align: center;
                            h4{
                                font-size: 16px;
                                font-weight: $w-medium;
                                line-height: 25px;
                                color: $black-color;
                                overflow: hidden;
                            }
                        }
                        
                        
                    }
                }
                .owl-nav{
                    position: absolute;
                    width: 100%;
                    top: 35%;
                    margin: 0;
                    button{
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        border: 1px solid #DED4D0;
                        position: absolute;
                        background-position: center center;
                        background-repeat: no-repeat;
                        transition: 200ms;
                        background-color: #fff;
                        margin: 0;
                        &:hover{
                            background-color: #fff;
                        }
                        span{
                            display: none;
                        }
                    }
                    .owl-prev{
                        left: 0;
                        background-image: url($img-path + "/events/slider-left-arrow.svg");
                    }
                    .owl-next{
                        right: 0;
                        background-image: url($img-path + "/events/slider-right-arrow.svg");

                    }
                }
            }
        }
    }
}