// Our Members Section
.our-members {
    position: relative;
    padding-top: 37px;
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100vh - 135px);
      background-image:linear-gradient(to left , rgba(250,250,250,0.1) , rgba(250,250,250,0.9)) , url($img-path + "Our-Members-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
    }
    & > * {
      position: relative;
      z-index: 1;
    }
    .inner-heading h1 {
      margin-bottom: 47px;
    }


    h2 {
        font-size: 40px;
        line-height: 48px;
        font-family: Roboto;
        font-weight: $w-black;
        color: $black-color;
        span {
          color: $red-color;
        }
      }

      .trade-box {
      
        
        .header {
          padding-top: 0;
          margin-bottom: 18px;
          .itfc {
            color: $extra-bright-orange-color;
          }
          p {
            margin-top: 33px;
            font-size: 18px;
            font-weight: $w-bold;
            color: $black-color;
          }
        }
      }
      #trade-content {
        &.collapsed {
          max-height: 450px;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 80px;
            width: 100%;
            z-index: 2;
           ;
       
          }
          .read-more {
            display: block;
            &.less {
              display: none;
            }
          }
        }
      }




  }


.our-members-table{

  margin-top: 100px;
  max-height:100%;;
  padding:21px;
  background-color: #ffffff;
  border: 1px solid $border-color-2;
  box-shadow: 0  3px 45px rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;
  margin-top: 70px;

  table{
    tr,th,td{
      white-space: nowrap;

      text-overflow: ellipsis;
    }      

    tbody tr:nth-of-type(odd){
        background-color: $gray-bg;
    }
    thead{

      border-bottom: 1px solid $border-color-2;
      th{

        color: $red-color;
        font-weight: $w-bold;
      }
      } 

      tbody{

          tr th{
          color: $black-color;
          font-weight: $w-medium;
          border: none;

          }    
          .sub-total{
              background-color: $red-color !important;
              color: #ffffff !important;
              font-weight: $w-bold !important;

              th{
                  color: #ffffff !important;
                  font-weight: $w-bold !important;
              }

          }
      }
      .type-label{
          font-size: 12px;
          color: #ffffff;
          padding: 4px 6px ;
          border-radius: 3px;

          &-1{
              background-color: $red-color;

          }

          &-2{
              background-color: $secondary-color;

          }

      }
  }
  



}


//Senior Mannagement 
.senior-management {
  padding-top: 39px;
  position: relative;
  &::after {
    content: "";
    background-image: url($img-path + "globe-dotted-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &.inner-heading h1{
    margin-bottom: 40px;
  }

  .col-lg-3{
    padding: 0;
    padding-right: 21px;

  }

  &_member-card {
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #0000001A;
    .img-box {
      max-height: 289px;
      overflow: hidden;
      img {
       
        min-width: 100%;
      }
    }

    &--content-box {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 19px;
      padding-left: 13px;
      h4 {
        font-size: 20px;
        font-weight: $w-bold;
        color: $black-color;
        margin-bottom: 10px;
        overflow: hidden;
        // line-height: 33px; this will be applayed if needed 
        // height: calc(33px * 2);

        
      }

      p{
        font-size: 16px;
        margin: 0;

      }



    }

    &:hover{
      h4{
        color:$red-color;
        animation: title-color-change 0.3s ease-out;
      }
    }
  }

  .pager{
    margin-top: 148px;
    margin-bottom: 87px;
  }






}




//senior manger profile

.senior-manager{
  padding-top: 40px;
  background-color: $gray-bg;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom:31px ;
  min-height: calc(100vh - 135px);
  &_box{
    &--img-box{
      
  

      img{
        border: 3px solid #ffffff;
        max-width:100%;
        margin-bottom: 18px;
        
      }

      &-social{
        span{
          display: flex;
          font-size: 16px;
          color: $p-color;
          align-items:center;


          a{
            color: inherit;
            font-size: 24px;
            margin: 0 6px;
            &:hover{
              color: $red-color;
              transition: color 0.5s ease-in-out;
            }
          }


        }
      }
    }

    &--content-box{
      h2{
        color: $black-color;
        font-size:25px ;
        font-weight: $w-bold  ;
        margin-bottom: 10px;
      }

      .description{
        color: $p-color;
        font-size: 20px;
        font-weight: $w-medium;
        margin-bottom: 10px;  
      }
      a{
        color: $red-color;
        font-size: 16px;
        font-weight: $w-medium;
        margin-bottom: 21px;
      }

      p{
        color: $p-color;
        font-size: 18px;
        font-weight: $w-medium;
        
      }



    }
    



  }


  &_body-text{
    padding:50px 0;
    margin-bottom: 295px;

    p{
      color: $p-color;
      font-size: 18px;
      font-weight: $w-medium;
    }
  }


 

  
}




// our stories

.our-stories-section{
  padding-top: 40px;
  padding-bottom: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 822px;
    width: 100%;
    z-index: -1;
    background-color: #f6faff;
    background-image:linear-gradient(to bottom , rgba(235,242,255,0.88) , rgba(235,242,255,0.38)),  url($img-path + "our-stories/bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .inner-heading {
    h1 {
      margin-bottom: 0;
    }
  }

  .list-card {
    margin-top: 43px;
    margin-bottom: 76px;
    background-color: #fff;
    padding: 23px 30px;

    // top filter
    .top-filter {
      padding-bottom: 10px;
      position: relative;
      z-index: 5;
      &::after {
        content: "";
        position: absolute;
        left: -15px;
        bottom: -1px;
        width: calc(100% + 30px);
        height: 1px;
        background-color: #f3f6fb;
      }
      .form-group {
        position: relative;
      }
      label {
        font-size: 16px;
        font-weight: $w-medium;
        margin-#{$end-direction}: 15px;
        color: $p-color;
        font-family: "montserrat";
      }
      .left-filter{

        .dropdown {
          display: inline-block;
          margin-right:30px ;
          .btn {
            width: 100%;
            padding:0  12px ;
            height: 38px;
            border: 2px solid #e0e3e5;
            border-radius: 0;
            font-size: 15px;
            font-weight: $w-medium;
            color: $p-color;
            box-shadow: none;
            // start mmousa
            width: 190px !important;
            text-align: left;
            
            &::after{
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13.991' height='8.206' viewBox='0 0 13.991 8.206'%3e%3cpath id='Path_46859' data-name='Path 46859' d='M0,0,5.4,5.581,0,11.163' transform='translate(12.577 1.414) rotate(90)' fill='none' stroke='%235e5e59' stroke-linecap='round' stroke-width='2'/%3e%3c/svg%3e ");
              border: 0;
              width: 14px;
              height: 8px;
              position: absolute;
              right: 10px;
              top: 15px;
              background-repeat: no-repeat;
            }
             // end mmousa
          }
          ul.dropdown-menu {
            // start mmousa
            min-width: 100%;
            width: max-content;
            max-width: 260px;
            padding: 11px 15px 11px 10px;
            // end mmousa
            li {
              a {
                display: block;
                padding: 8px 10px 10px 45px;
                font-size: 15px;
                font-weight: $w-medium;
                color: $p-color;
                position: relative;
                transition: 200ms;
                &:hover {
                  background-color: #eeeeee;
                }
                &.active {
                  &::before {
                    content: "";
                    background-image: url($img-path + "news/check-sort.svg");
                    position: absolute;
                    width: 12px;
                    height: 13px;
                    left: 16px;
                    top: 10px;
                    background-repeat: no-repeat;
                  }
                }
              }
              // mmousa
              .custom-checkbox{
                .custom-control-label{
                  font-size: 15px;
                  font-weight: 500;
                  font-family: "montserrat";
                  line-height: 28px;
                  padding-left: 5px;
                  color: #5e5e59;
                  justify-content: left;

                    &::before{
                      width: 18px;
                      height: 18px;
                      border-radius: 0;
                      border: 2px solid #E0E3E5;
                  }
                  &::after{
                    // position: absolute;
                    // top: 0.25rem;
                    // left: -1.5rem;
                    // display: block;
                    // width: 1rem;
                    // height: 1rem;
                    // content: "";
                    // background: no-repeat 50% / 50% 50%;
                }
                }
              }
            }
            hr {
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
        }


      }


      .right-filter {
        display: flex;
        justify-content: flex-end;
        #btnContainer {
          display: inline-flex;
          justify-content: flex-end;
          align-items: center;
          margin-#{$start-direction}: 20px;
          // float: right;
          label {
            margin-bottom: 0;
          }
          button {
            width: 48px;
            height: 38px;
            background-color: #e8ebef;
            color: $p-color;
            border-radius: 0;
            margin: 0;
            box-shadow: none;
            &.active {
              background-color: $red-color;
              color: #fff;
              border-radius: 4px;
              img {
                filter: brightness(500%);
              }
            }
          }
        }
        .dropdown {
          display: inline-block;
          .btn-sort {
            width: 107px;
            height: 38px;
            border: 2px solid #e0e3e5;
            border-radius: 0;
            font-size: 15px;
            font-weight: $w-medium;
            color: $p-color;
            box-shadow: none;

            &::after {
              // display: none;
              background-image: url($img-path + "news/down-arrow.svg");
              border: 0;
              width: 13px;
              height: 7px;
              position: absolute;
              right: 10px;
              top: 15px;
            }
            &::before {
              content: "";
              background-image: url($img-path + "news/sort-icon.svg");
              position: absolute;
              width: 24px;
              height: 15px;
              left: 8px;
              top: 12px;
            }
          }
          ul.dropdown-menu {
            li {
              a {
                display: block;
                padding: 8px 10px 10px 45px;
                font-size: 15px;
                font-weight: $w-medium;
                color: $p-color;
                position: relative;
                transition: 200ms;
                &:hover {
                  background-color: #eeeeee;
                }
                &.active {
                  &::before {
                    content: "";
                    background-image: url($img-path + "news/check-sort.svg");
                    position: absolute;
                    width: 12px;
                    height: 13px;
                    left: 16px;
                    top: 10px;
                    background-repeat: no-repeat;
                  }
                }
              }
            }
            hr {
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    #datepicker::placeholder,
    #datepicker2::placeholder {
      font-size: 15px;
      font-weight: $w-medium;
      color: $p-color;
    }

    // when list is active " default "
    .list-show {
      margin-top: 33px;
       .list-item {
        .link-rel{
          display: flex;
          flex-direction: row;
          align-items: center;
          
        }  
        display: flex;
        align-items: center;
        height: 269px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e3e5;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          border-bottom: none;
        }
        .list-img {
          width: 390px;
          height: 248px;
          overflow: hidden;
          img {
            max-width: 100%;
            transform: scale(1.2);
            transition: 1s;
          }
        }
        .list-content {
          margin-#{$start-direction}: 30px;
          position: relative;
          h5 {
            color: $black-color;
            font-size: 25px;
            font-weight: $w-bold;
            line-height: 29px;
            font-family: Roboto;
            margin-bottom: 12px;
            overflow: hidden;
            transition: 500ms;
          }
          p {
            color: $color-default;
            line-height: 29px;
            font-size: 16px;
            font-weight: $w-medium;
            height: 93px;
            overflow: hidden;
            margin-bottom: 0;
          }

        }
        &:hover {
          .list-img {
            img {
              transform: scale(1);
            }
          }
          .list-content {
            h5 {
              color: $red-color;
            }
            
          }
        }
      }
    }

    // when grid is active
    .grid-show {
      margin-top: 33px;
      margin-#{$end-direction}: -6px;
      .list-item {
        display: inline-flex;
        // width: 389px;
        width: calc(100% / 3 - 3px);
        height: 330px;
        margin: 0;
        margin-bottom: 17px;
        flex-direction: column;
        transition: 500ms;
        overflow: hidden;
        border: 1px solid #F3F6FB;
        .list-img {
          width: 389px;
          height: 224px;
          overflow: hidden;
          transition: 0.5s ease-in-out;
          position: relative;
          img {
            max-width: 100%;
            transform: scale(1.2);
            transition: 1s;
          }
        }
        .list-content {
          padding: 28px 32px 0;
          position: relative;
          .link-rel{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
          }
         
          h5 {
            color: $black-color;
            font-size: 18px;
            font-weight: $w-bold;
            line-height: 29px;
            font-family: Roboto;
            margin-bottom: 15px;
            height: 55px;
            overflow: hidden;
            transition: 500ms;
          }
          p {
            color: $color-default;
            line-height: 29px;
            font-size: 16px;
            font-weight: $w-medium;
            height: 90px;
            overflow: hidden;
            margin-bottom: 37px;
          }
          
        }
        &:hover {
          box-shadow: 0 3px 45px #0000001a;
          border: 0;
          .list-img {
            // transition: 0.5s ease-in-out;
            height: 100px;
            width: 100%;
            &::before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba($color: $black-color, $alpha: 0.40);
              z-index: 2;
            }
            img {
              transform:translateY(-50px)
              
            }
          }
          .list-content {
            h5 {
              color: $red-color;
            }
            
          }
        }
      }
    }
  }
}

//our stories inner page


.our-stories-inner-section {
  padding-top: 40px;
  padding-bottom: 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 822px;
    width: 100%;
    z-index: -1;
    background-color: #f6faff;
    background-image:linear-gradient(to bottom , rgba(235,242,255,0.88) , rgba(235,242,255,0.38)),  url($img-path + "our-stories/bg-1.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .inner-heading {
    h1 {
      margin-bottom: 0;
    }
  }
  &_content-box{
    margin-top: 43px;
    margin-bottom: 50px;
    background-color: #fff;

    padding-top: 50px;

    &--left{
      padding-#{$start-direction}: 30px;
      h2 {
        font-size: 40px;
        line-height: 48px;
        font-family: Roboto;
        font-weight: $w-black;
        color: $black-color;
        span {
          color: $red-color;
        }
      }
      .actions{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;
      }
      
      .font-btns {
        // display: inline-block;
        float: right;
        button {
          width: 35px;
          height: 31px;
          color: $color-default;
          background-color: #efefef;
          padding: 0;
          border-radius: 0;
          vertical-align: middle;
          font-size: 16px;
          font-weight: $w-semi-bold;
          transition: 100ms;
          &:first-child {
            margin-#{$end-direction}: 5px;
          }
          &:hover {
            color: $red-color;
            font-size: 18px;
          }
        }
      }
      p {
        color: $black-color;
        font-size: 18px;
        line-height: 36px;
        font-weight: $w-medium;
        margin-bottom: 50px;
      }

    }



    &--right { 
      margin-top: 64px;
      background-color: $gray-bg;
      border-top: 3px solid #d1d5db;
      padding: 30px;
      padding-#{$start-direction}: 13px;
      margin-bottom: 40px;
      text-align: center;
  
      h4 {
        font-size: 30px;
        // line-height: 48px;
        font-weight: $w-bold;
        color: $red-color;
        margin-bottom: 4px;
      }
      p{
        font-size: 20px;
      }

      hr{
        color: $border-color;

      }
  
      
    }

    &--body{

      .stories-inner-carousel{
        margin-bottom:65px ;
      }
      padding: 30px;
      padding-bottom: 0;      
      p{
        font-size: 18px;
        color: $p-color;
        font-weight: $w-medium;
      }
    }

  }

  
  
}


.poadcast{
padding:30px 0 ;
margin-bottom: 108px;

  h2{
    font-size: 30px;
    font-weight: $w-bold;
    color: $black-color;
    margin-bottom: 15px;
  }
}



//trade development section

.trade-dev {
  position: relative;
  padding-top: 37px;
  padding-bottom: 67px;
  height: calc(100vh - 135px);
  background-image: url($img-path + "trade-dev/bg.png");
      background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  &::before {
    content: "";

    
    

    opacity: 0.9;


  }

  .trade-header{
    position: relative;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 5px solid $red-color;
    padding:40px 26px ;
    top: 100%;
    h1{
      font-family: "roboto",sans-serif;
      font-weight: $w-black;
      margin-bottom: 7px;
      text-align: left;
    }
    p{
      color: #fff;
      font-size: 18px;
      font-weight: $w-bold;
      margin-bottom: 30px;
      text-align: left;

    }

    a.btn{
      background-color: $red-color;
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: $w-bold;
      padding: 12px 46px ;
      font-family: "Roboto",sans-serif;

    }


  }




}

.trade-dev-contnt{
  height: 100px;
  position: relative;
}


.trade-dev-contnt{
  height: 100%  ;
  padding-top: 60px;
  margin-bottom: 58px;

  p{
    font-size: 20px;
    font-weight: $w-medium;
    margin-bottom: 69px;
  }
  

  .trade-insights{
    width: 100%;

    &-card{
      height: 100%;
      background-color: #fff;
      text-align: center;
      padding: 25px 15px 35px 15px;
      box-shadow: 0px 3px  45px hsla(0, 0%, 0%, 0.05);
      

      img{
        height: 75px;
        width: 75px;
        

      }

      .nump{
        display: block;

        font-size: 55px;
        font-weight: $w-black;
        font-family: "Roboto",sans-serif;
        &-1{
          color: $yellow-color;
        }

        &-2{
          color: $red-color;
        }

        &-3{
          color: $primary-color;
        }

        &-4{
          color: $extra-bright-orange-color;
        }

        

      }

      h3{
        font-size: 30px;
        font-weight: $w-black;
        color: $black-color;
        font-family: "Roboto",sans-serif;
        margin-bottom: 10px;
      }

      p{
        color: $p-color;
        font-size: 16px;
        font-weight: $w-medium;
        margin-bottom: 20px;
      }

      a.btn{
        color: #fff;
        font-size: 16px;
        font-weight: $w-medium;
        padding:11px 25px ;

        &-1{
          background-color: $yellow-color;
        }

        &-2{
          background-color: $red-color;
        }

        &-3{
          background-color: $primary-color;
        }

        &-4{
          background-color: $extra-bright-orange-color;
        }

        &:hover{
          opacity: 0.8;
          transition: 0.5s ease-in-out;
        }

      }
    }

  }

}


.trade-dev-programs{
  height: 100%;
  margin-bottom: 80px;
  h2{
   font-weight: $w-bold;
   font-size: 40px;
   font-family: "Roboto",sans-serif;
   color: $p-color;
   margin-bottom: 48px; 
  }
  .load-more-btn{
    margin-top: 82px;
    .btn-grey{

      background-color: #D5D7DB;
      color: #888;
      font-size: 16px;
      font-weight: $w-medium;
      padding:  12px 35px;
      &:hover{
        background-color:rgba(213, 215, 219,0.6) ;
        transition: 0.5s ease-in-out;
      }
    }
  }
  &_content{
    height: 100%;

    &.bg{
      &-1,&-4{
        background-color: #fff;
      }

      &-2{
        background-color:#D4CEC0;
      }

      &-3{
        background-color:$red-color;
        h3{
          color: #fff;
     
        }

        p{
          color: #fff;
        }
      }
    }
    


    

   
    &--box {
      padding-left: 65px;
      padding-right: 50px;
   
      
      margin: auto 0  ;
 
      h3{
        font-size: 25px;
        font-weight: $w-bold;
        color: $black-color;
        margin-bottom: 15px;
      }

      p{
        font-size: 16px;
        font-weight: $w-medium;
      }

      .btn{
 

      }
      .btn-w{
        color: #fff;
        border:1.5px solid #fff;
      }

    }


    &--img{
      img{
        height: 445px;
        min-width: 100%;
      }
    }




  }
}


//trade development project inner page

.trade-dev-inner {
  position: relative;
  padding-top: 37px;
  padding-bottom: 67px;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 135px);
    background-image:linear-gradient(to left, rgba(255,255,255,0.1) , rgba(255,255,255,0.9)), url($img-path + "trade-dev/inner-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  .inner-heading h1 {
    margin-bottom: 47px;
  }
}


.trade-dev-inner-box {
  background-color: rgba(255, 255, 255,0.85);
  position: relative  ;

  .header {
    padding: 22px 30px;

    margin-bottom: 30px;
    h2{
      font-size: 30px;
      font-weight: $w-bold;
      color: $black-color;
      margin-bottom: 30px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: $w-medium;
      line-height: 30px;
    }
  }


  .trade-dev-inner-carousel-box{
    position: relative;
    min-width: 100%;
    height: 100%;
    p.trade-dev-inner-p{
      padding: 25px 44px 33px 44px;
      margin-bottom: 0;
      font-size: 18px;

      color: $p-color;
      text-align: center;

    }

    .trade-dev-inner-carousel{
      position: relative;
      min-width: 100%;
      margin-bottom: 60px;
      .carousel-indicators{
        position: absolute;
        bottom: 50px;
        
      }
      .img-box{
        min-width: 100%;
        position: relative;
        img{
          min-width: 100%;
          
        }
        p{
          height: 10px;
          max-height: 20px;
          font-size: 16px;
          color: $p-color;
          text-align: right;
          height: 100%;
          line-height: 20px;
          margin-top:15px;
          span{
            width: 16px;
            height: 1px;
            border-top: 1px solid $p-color;
            display: inline-block;
            margin:  5px ;
           
          }
          
        }
       
      }
    }
  }

}

.trade-dev-inner-sme {
  background-color: #EEEEEE;
  min-height: 100%;
  height: 750px;

  margin-bottom: 60px;
  margin-top: 15px;

  padding-top:113px ;
  padding-bottom:73px ;
}

.sm-box{
  height: 100%;
  .img-box{
    height: 100%;
  }
}
.sme-item{
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  .sme-item-header {
    margin-bottom: 10px;
    h5 {
      button {
        padding: 0;
        display: block;
        width: 100%;
        position: relative;
        text-align: $start-direction;
        color: $red-color;
        font-size: 30px;
        font-weight: $w-black;
        font-family: Roboto;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
          text-decoration: none;
          box-shadow: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 36px;
          height: 18px;
          background-image: url($img-path + "up-red-arrow.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          #{$end-direction}: 0;
          top: 26px;
          transition: 0.3s;
        }
        &.collapsed {
          &::after {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
  .sme-item-body {
    font-size: 18px;
    font-weight: $w-medium;
    line-height: 36px;
    color: $black-color;
    padding-bottom: 30px;

    p{
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    
    ul{
      li{
        font-size: 18px;
        font-weight: $w-medium;
        color: $black-color;
        
        &:not(:last-child){
          margin-bottom: 30px !important;
        }

      } 
      &.li-orderd{
        list-style:none !important;
        padding-left:0 ;
        margin-bottom: 0;
        li{position: relative;
          .span{
            margin-right: 18px;
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            border: 2px solid $red-color;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            height: 30px;
            width: 30px;

            &::after{
              content: "1";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              
            }

            &-2{
              &::after{
                content: "2";
               
                
              }

              
            }

            &-3{
              &::after{
                content: "3";
               
                
              }

              
            }

            &-4{
              &::after{
                content: "4";
               
                
              }

              
            }

            &-5{
              &::after{
                content: "5";
               
                
              }

              
            }
          }
        }
      }

      &.li-un-orderd{
       list-style-image: url($img-path + "trade-dev/pullet.svg");
       padding-left:18px ;
        margin-bottom: 0;
        width: 100%;
        position: relative;
       li{
        width: 100%;


        &:not(:last-child){
          margin-bottom: 30px !important;
        }

       }
      }

    }
  }
}


.trade-dev-stories{
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
  &-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
      div{
        display: inline-block;
        border-bottom: 1px solid #DADEE4;
        width: 100%;
        
        
      }
      h2{
        padding:0 20px;
        color:$red-color;
        font-size: 30px;
        font-weight: $w-bold;



      }


  }

  .cards{

    .img-box{
      width: 285px;
      height: 193px;
      position: relative;
      margin-bottom: 16px;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;


      }
      .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    h3{
      color: $black-color;
      font-size: 16px;
      font-weight: $w-bold;
      font-family: "Roboto",sans-serif;
      margin-bottom: 15px;

    }
    a,a:active,a:hover,a:visited {
      color: $black-color;
    }
    .main-card{
      .img-box{
        width: 600px;
        height: 407px;
        position: relative;
        margin-bottom: 16px;
        img{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;


        }

        .overlay{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.3);
        }

      }

        h3{

          font-size: 20px;


        }

        p{

          font-size: 16px;
          font-weight: $w-medium;
          color:$p-color;

        }
        
      
    }

    .small-card{
      .img-box{

        img{
          
        }

        .overlay{

        }

        h3{

        }

        p{


        }
        
      }
    }


  }


}


.trade-dev-impact{
  margin-bottom: 76px;
  &-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
      div{
        display: inline-block;
        border-bottom: 1px solid #DADEE4;
        width: 100%;

      }
      h2{
        
        color:$red-color;
        font-size: 30px;
        font-weight: $w-bold;
        width: 100%;
        white-space: nowrap;
        padding:0 20px ;

      }


  }
  .box-contnet{
    
    .inner-title{
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      img{
        width: 70px;
        height: 70px;


      }

      h3{
        
        font-size: 20px;
        font-weight: $w-bold;
        color: $black-color !important;


      }
    }

    p{
      font-size: 18px;
      font-weight: $w-medium;
      color: #1D1D1B;
      line-height: 30px;
    }
  }

  .box-img{
    height: 450px;
    width: 495px;
    img{
      width: 100%;
      height: 100%;
    }
  }



}


.trade-related-projects{

  padding: 0 40px;
  width: 100%;
  height: 400px;

  h3{
    text-align: left;
    font-size: 40px;
    font-weight: black;
    color: $black-color;
    font-family: "Roboto",sans-serif;
  }

  .owl-carousel{
    width: 100%;

    .item{
      width: 100%;

    }
  }


}

.padding {
  padding: 3rem
}

.owl-carousel .item {
  margin: 3px
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto
}

.owl-carousel .item {
  margin: 3px
}

.owl-carousel {
  margin-bottom: 15px
}
















//custom edits on bootstrap 


//bootstrap carousel 

.carousel-indicators li {

  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: 7px !important;
  height: 7px !important;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 0 !important;
  border: none !important;
  margin:auto 3px;
}

.carousel-indicators li.active {

  width: 10px !important;
  height: 10px !important;

}


.carousel-control-prev-icon {
  background-image: url($img-path +"our-stories/prev.svg") !important ;
  transform: rotate(180deg);
  height: 40px !important;
}

.carousel-control-next-icon {
  background-image:url($img-path +"our-stories/prev.svg") !important;
  height: 40px !important;
}

















//animations


@keyframes title-color-change {
  from { color: $black-color;}
  to { color: $red-color;}
}



