// LTR

.main-navbar {
  max-height: 135px;
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.06);
  .navbar-brand {
    padding-top: 20px;
  }
  .navbar {
    position: static;
  }
  .navbar .dropdown-menu {
    border: none;
    background-color: #fff !important;
    padding-top: 36px;
    padding-bottom: 30px;
    margin: 0;
    border-top: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 46px 45px rgba($color: #373434, $alpha: 0.13);
    .row {
      width: 100%;
    }
    h6 {
      font-family: Roboto;
      color: $black-color;
      font-size: 18px;
      font-weight: $w-bold;
      line-height: 30px;
      margin-bottom: 15px;
    }
    p {
      color: $p-color;
      font-size: 16px;
      line-height: 30px;
      font-weight: $w-medium;
    }
    .nav-item {
      .nav-link {
        font-size: 16px;
        font-weight: $w-medium;
        line-height: 41px;
        color: $p-color;
        position: relative;
        padding: 0 8px;

        &::after {
          content: "";
          height: 30px;
          width: 4px;
          background-color: $dark-red-color;
          position: absolute;
          #{$start-direction}: 0;
          top: 5px;
          opacity: 0;
          transition: 0.3s;
        }
        &:hover {
          color: $dark-red-color;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  #navbarSupportedContent {
    > .navbar-nav {
      justify-content: flex-end;
      flex-grow: 1;
      > .nav-item {
        margin-#{$start-direction}: 40px;
        &.show-on-fixed {
          display: none;
        }
        &:hover {
          > .nav-link {
            &.dropdown-toggle {
              &::before {
                opacity: 1;
              }
            }
          }
        }
        > .nav-link {
          position: relative;
          color: $black-color;
          font-size: 16px;
          line-height: 19px;
          font-weight: $w-medium;
          letter-spacing: 0px;
          text-transform: uppercase;
          padding: 25px 0;
          &.home-btn {
            color: $red-color;

            padding: 19px 0 22px !important;
          }

          &.dropdown-toggle {
            display: inline-block;
            align-self: center;
            &::after {
              border: 0;
              width: 10px;
              height: 6px;
              background: transparent url($img-path + "arrow.svg") 0% 0%
                no-repeat padding-box;
            }
            &::before {
              content: "";
              height: 4px;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: $title-color-2;
              opacity: 0;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  .top-nav {
    margin-top: 28px;
    margin-bottom: 20px;
    .navbar-nav {
      justify-content: flex-end;
      flex-direction: row;
    }
    .nav-item {
      position: relative;
      padding: 0;
      margin: 0;
      margin-#{$start-direction}: 40px;
      .nav-link {
        font-size: 14px;
        color: $light-brown-color;
        line-height: 18px;
        letter-spacing: 0px;
        text-transform: uppercase;
        font-weight: $w-medium;
        padding: 0;
        &.lang {
          font-family: $font-ar;
          line-height: 10px;
        }
        &.search-toggle {
          line-height: 10px;
        }
      }
    }
  }
  .search-box {
    position: absolute;
    top: 25px;
    width: 600px;
    #{$end-direction}: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 99;
    border-radius: 15px;
    overflow: hidden;
    .search-btn {
      position: absolute;
      top: 12px;
      #{$start-direction}: 0;
      background: none;
      border: none;
    }
    input[type="text"] {
      padding-#{$start-direction}: 30px;
      padding-#{$end-direction}: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 0;
      height: auto;
      border: none;
    }
    .exit-btn {
      position: absolute;
      top: 14px;
      #{$end-direction}: 10px;
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 10px 25px rgba($color: #332e2e, $alpha: 0.1);
    .top-nav,
    .navbar-brand {
      display: none;
    }
    .navbar {
      > .d-flex {
        width: 100%;
      }
    }
    #navbarSupportedContent > .navbar-nav {
      justify-content: space-between;
      width: 100%;
      > .nav-item {
        margin: 0;
        &.show-on-fixed {
          display: block;
        }
        > .nav-link {
          padding: 25px 0;
        }
      }
    }
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    margin-#{$start-direction}: auto;
    width: 100%;
  }
}
.side-border {
  border-#{$end-direction}: 1px solid $border-color;
}

.main-header {
  height: calc(100vh - 135px);
  overflow: hidden;
  position: relative;
  .slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .owl-carousel {
      height: 100%;
      .owl-item {
        &.active {
          .item > img {
            transform: scale(1.05);
          }
          .item .caption {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      .item {
        overflow: hidden;
        > img {
          min-width: 100%;
          min-height: 100%;
          transition: all 8s;
        }
        .caption {
          position: absolute;
          top: 250px;
          width: 100%;
          left: 0;
          z-index: 3;
          opacity: 0;
          transition: all 2s;
          transform: translateY(50px);
          h2 {
            font-family: Roboto;
            font-weight: $w-black;
            font-size: 50px;
            line-height: 55px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
          .text-bg {
            position: relative;
            &::before {
              content: "";
              z-index: -1;
              position: absolute;
              left: -8px;
              top: 8px;
              width: calc(100% + 16px);
              height: 48px;
              background-color: $primary-color;
            }
          }
          p {
            color: #fff;
            font-size: 20px;
            font-weight: $w-medium;
            line-height: 30px;
            max-width: 574px;
            margin-bottom: 50px;
          }
          .learn-more {
            font-size: 16px;
            font-weight: $w-medium;
            line-height: 25px;
            padding-#{$start-direction}: 20px;
            padding-#{$end-direction}: 22px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0;
            letter-spacing: 1.5px;
            &::after {
              content: "";
              width: 16px;
              height: 10px;
              display: inline-block;
              background-image: url($img-path + "right-arrow.svg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
              margin-#{$start-direction}: 10px;
            }
          }
        }
        &::before {
          content: "";
          background: rgba($color: $black-color, $alpha: 0.3);
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
    .owl-carousel,
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .item {
      height: 100%;
    }
    .social {
      position: absolute;
      #{$end-direction}: calc((100vw - 1260px + 30px) / 2);
      top: 50%;
      z-index: 5;
      list-style: none;
      padding: 0;
      li {
        width: 32px;
        height: 32px;
        display: block;
        text-align: center;
        font-size: 15px;
        margin-bottom: 6px;
        a {
          vertical-align: middle;
          color: #fff;
        }
      }
    }
    .actions {
      position: absolute;
      #{$start-direction}: calc((100vw - 1260px + 30px) / 2);
      bottom: 50px;
      z-index: 5;
      display: flex;
      flex-direction: row;
      align-items: center;
      .scroll-down {
        display: inline-block;
        width: 17px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url($img-path + "scroll-down.svg");
        margin-#{$end-direction}: 45px;
      }
      .next-arrow,
      .prev-arrow {
        display: inline-block;
        width: 16px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .next-arrow {
        background-image: url($img-path + "next.svg");
      }
      .prev-arrow {
        background-image: url($img-path + "prev.svg");
      }
      .owl-dots {
        display: flex;
        flex-direction: row;
        min-width: 70px;
        justify-content: space-around;
        padding: 0 10px;
        align-items: center;
        margin: 0;
        button.owl-dot {
          display: none;
        }
        .owl-dot {
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: #fff;
          border-radius: 50%;
          &.active {
            width: 10px;
            height: 10px;
            background-color: $dark-red-color;
          }
        }
      }
    }
  }
}
.in-focus {
  padding: 45px 0;
  background-image: url($img-path + "World_Map.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .slider-wrapper {
    .owl-carousel {
      margin-bottom: 25px;
      &::before {
        content: "";
        display: block;
        background-image: url($img-path + "right-side-angel.svg"),
          url($img-path + "left-side-angel.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: center right, center left;
        background-size: contain, contain;
        position: absolute;
        width: calc(100% + (27px * 2));
        height: calc(100% + (27px * 2));
        top: -27px;
        left: -27px;
        z-index: 0;
      }
      .item {
        height: 420px;
        display: flex;
        align-items: center;
      }
    }
    .actions {
      .navigations {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
          display: inline-block;
          width: 48px;
          height: 48px;
          background-color: #fff;
          border: 1px solid #ded4d0;
          border-radius: 50%;
          background-position: center center;
          background-repeat: no-repeat;
          &.next-arrow {
            background-image: url($img-path + "next-sm-arrow.svg");
            margin-#{$start-direction}: 15px;
          }
          &.prev-arrow {
            background-image: url($img-path + "prev-sm-arrow.svg");
          }
        }
      }
    }
  }
}
.focus-card {
  background-color: #fff;
  position: relative;
  border: 1px solid #eceff1;
  height: 380px;
  padding: 50px 35px 40px 32px;

  &::before {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }
  .icon {
    height: 115px;
    position: relative;
    margin-bottom: 32px;
    z-index: 1;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 85px;
      background-color: #eceff1;
      position: absolute;
      bottom: 0;
      #{$start-direction}: 0;
      transition: 0.3s;
    }
    img {
      width: auto;
      transition: 0.3s;
    }
  }
  h4 {
    color: $black-color;
    font-family: Roboto;
    font-size: 24px;
    line-height: 29px;
    font-weight: $w-bold;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
  }
  p {
    color: $color-default;
    font-size: 16px;
    line-height: 32px;
    font-weight: $w-medium;
    height: calc(32px * 3);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  &:hover {
    .icon {
      img {
        filter: brightness(0) invert(1);
      }
      &::after {
        width: 130px;
      }
    }
    h4,
    p {
      color: #fff;
    }
    &.red-hover {
      &::before {
        background-color: $red-color;
        transform: scaleY(1.1111);
      }
    }
    &.yellow-hover {
      &::before {
        background-color: $yellow-color;
        transform: scaleY(1.1111);
      }
    }
    &.orange-hover {
      &::before {
        background-color: $bright-orange-color;
        transform: scaleY(1.1111);
      }
    }
    &.primaryColor-hover {
      &::before {
        background-color: $primary-color;
        transform: scaleY(1.1111);
      }
    }
  }
}
.heading {
  overflow: hidden;
  h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: $w-black;
    line-height: 50px;
    font-family: Roboto;
    color: $black-color;
    text-align: center;
    margin-bottom: 5px;
    span {
      color: $dark-red-color;
    }
    &.red {
      color: $dark-red-color;
    }
  }
  p {
    text-align: center;
    font-size: 18px;
    font-weight: $w-medium;
    color: $p-color;
    line-height: 22px;
    margin-bottom: 24px;
    &.biege {
      color: $title-color-2;
    }
  }
}
.latest-news {
  position: relative;
  padding: 45px 0;
  background-color: #fff;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 570px;
    width: 100%;
    z-index: 0;
    background-color: $gray-bg;
  }
  .heading {
    margin-bottom: 36px;
  }
  .container > .actions {
    margin-top: 30px;
    text-align: $end-direction;
  }
}
.news-card {
  box-shadow: 0 3px 45px rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  height: 540px;
  margin-bottom: 15px;
  overflow: hidden;
  .img-box {
    overflow: hidden;
    height: 224px;
    img {
      transform: scale(1.2);
      transition: 0.3s;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .content-box {
    padding: 28px 32px 32px;
    .date {
      color: $orange-color;
      font-size: 14px;
      font-weight: $w-medium;
      margin-bottom: 23px;
      img {
        margin-#{$end-direction}: 8px;
        vertical-align: text-top;
        display: inline-block;
      }
    }
    h5 {
      color: $black-color;
      font-size: 18px;
      font-weight: $w-bold;
      line-height: 30px;
      font-family: Roboto;
      margin-bottom: 10px;
      height: calc(30px * 2);
      overflow: hidden;
      transition: 0.3s;
    }
    p {
      color: $color-default;
      line-height: 32px;
      font-size: 16px;
      font-weight: $w-medium;
      height: calc(32px * 3);
      overflow: hidden;
      margin-bottom: 0;
    }
  }
  > .actions {
    display: flex;
    width: 100%;
    .read-more {
      margin-#{$start-direction}: auto;
      margin-#{$end-direction}: 32px;
      font-size: 16px;
      font-weight: $w-medium;
      color: $black-color;
      position: relative;
      line-height: 19px;
      transition: 0.3s;
      &::after {
        content: "";
        display: inline-block;
        width: 5px;
        height: 10px;
        background-image: url($img-path + "right-caret.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-#{$start-direction}: 10px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        background-color: $bright-orange-color;
        height: 2px;
        width: 0;
        transition: 0.3s;
      }
      &:hover {
        color: $bright-orange-color;
        &::before {
          width: 100%;
        }
      }
    }
  }
  &:hover {
    .img-box {
      img {
        transform: scale(1);
      }
    }
    .content-box {
      h5 {
        color: $red-color;
      }
    }
  }
}
a.show-all {
  display: inline-block;
  background-color: $p-color;
  color: #fff;
  font-size: 16px;
  font-weight: $w-medium;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 10.5px 22.5px;
  transition: 0.3s;
  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url($img-path + "next.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-#{$start-direction}: 14px;
  }
  &:hover {
    background-color: $red-color;
  }
}
.upcoming-events {
  position: relative;
  padding: 45px 0;
  background-color: #fff;
  .container > .actions {
    margin-top: 30px;
    text-align: $end-direction;
  }
  .heading {
    margin-bottom: 36px;
  }
}
.event-card {
  border-top: 4px solid;
  background-color: #fff;
  box-shadow: 0 3px 45px rgba($color: #000000, $alpha: 0.1);
  min-height: 326px;
  padding-top: 36px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  &.primary-border {
    border-color: $primary-color;
  }
  &.secondary-border {
    border-color: $secondary-color;
  }
  .start-date {
    margin-left: 17px;
    margin-bottom: 17px;
    .day {
      display: inline-block;
      position: relative;
      font-size: 40px;
      font-weight: $w-bold;
      color: $orange-color;
      font-family: Roboto;
      line-height: 45px;
      width: 55px;
      text-align: center;
      vertical-align: -webkit-baseline-middle;
      &::before {
        content: "";
        display: block;
        height: 55px;
        width: 55px;
        background-color: rgba($color: $title-color-2, $alpha: 0.15);
        position: absolute;
        left: 0;
        top: -18px;
        border-radius: 50%;
      }
    }
    .month {
      display: inline-block;
      font-size: 16px;
      font-weight: $w-medium;
      color: $p-color;
      line-height: 45px;
      margin-#{$start-direction}: 5px;
    }
    .year {
      display: inline-block;
      font-size: 16px;
      font-weight: $w-bold;
      color: $p-color;
      line-height: 45px;
      margin-#{$start-direction}: 10px;
    }
  }
  .content {
    padding: 0 27px;
  }
  h5 {
    font-size: 18px;
    color: $black-color;
    font-weight: $w-bold;
    line-height: 28px;
    position: relative;
    transition: 0.3s;
    &::after {
      content: "";
      transition: 0.3s;
      display: block;
      width: 45px;
      height: 2px;
      background-color: #eceff1;
      margin-top: 19px;
      margin-bottom: 28px;
    }
  }
  .end-date {
    color: $yellow-color;
    font-size: 16px;
    line-height: 25px;
    font-weight: $w-medium;
    margin-bottom: 16px;
    img {
      vertical-align: text-top;
      margin-#{$end-direction}: 21px;
    }
  }
  .location {
    color: $p-color;
    font-size: 15px;
    line-height: 25px;
    font-weight: $w-medium;
    img {
      vertical-align: text-top;
      margin-#{$end-direction}: 10px;
    }
  }
  &:hover {
    h5 {
      color: $dark-red-color;
      &::after {
        background-color: $dark-red-color;
        width: 167px;
      }
    }
  }
}
.publications {
  position: relative;
  background-color: $gray-bg;
  padding-top: 40px;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 570px;
    width: 100%;
    z-index: 0;
    background-color: #af9484;
    background-image: url($img-path + "bg-pattern.svg");
    background-repeat: no-repeat;
    background-position: 20% center;
  }
  h2 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: $w-black;
    color: #fff;
    line-height: 56px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .actions {
    text-align: $end-direction;
  }
  .white-card {
    height: 506px;
    overflow-x: hidden;
  }
}
.white-card {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 3px 45px rgba($color: #000000, $alpha: 0.1);
}
.pub-card {
  overflow: hidden;
  position: relative;
  height: 366px;
  margin-bottom: 30px;
  .img-box {
    overflow: hidden;
    height: 185px;
    margin-bottom: 31px;
    img {
      min-height: 100%;
      min-width: 100%;
      filter: grayscale(100%);
      transition: 0.3s;
    }
  }
  .content-box {
    h5 {
      color: $black-color;
      font-size: 20px;
      font-weight: $w-bold;
      line-height: 30px;
      font-family: Roboto;
      margin-bottom: 10px;
      transition: 0.3s;
    }
    p {
      font-size: 16px;
      font-weight: $w-medium;
      color: $p-color;
      line-height: 24px;
    }
  }
  &:hover {
    .img-box {
      img {
        filter: none;
      }
    }
    .content-box {
      h5 {
        color: #ae8268;
        text-decoration: underline;
      }
    }
  }
}
.our-group {
  padding-top: 92px;
  padding-bottom: 53px;
  background-color: $gray-bg;
  .heading {
    margin-bottom: 56px;
  }
}
.logo-box {
  width: 180px;
  height: 127px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  img {
    filter: grayscale(100%);
    transition: 0.3s;
    max-width: 100%;
    max-height: 100%;
  }
  &:hover {
    img {
      filter: none;
    }
  }
}
footer {
  padding-top: 30px;
  label {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .copy {
    color: $black-color;
    font-size: 14px;
    font-weight: $w-bold;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .links {
    ul {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      li {
        position: relative;
        margin-#{$start-direction}: 20px;
        margin-#{$end-direction}: 20px;
        &::after {
          content: "|";
          position: absolute;
          #{$start-direction}: -20px;
          top: 5px;
        }
        &:first-child {
          margin-#{$start-direction}: 0;
          &::after {
            display: none;
          }
        }
        &:last-child {
          margin-#{$end-direction}: 0;
        }
        a {
          color: $black-color;
          font-size: 14px;
          font-weight: $w-bold;
          line-height: 34px;
          transition: 0.3s;
        }
        &:hover {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
  hr {
    margin-top: 22px;
    margin-bottom: 27px;
  }
}
.subscription {
  display: block;
  max-width: 488px;
  margin-bottom: 15px;
  .form-group {
    position: relative;
    ::-webkit-input-placeholder {
      /* Edge */
      color: rgba($color: #5e5e59, $alpha: 0.26);
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba($color: #5e5e59, $alpha: 0.26);
    }

    ::placeholder {
      color: rgba($color: #5e5e59, $alpha: 0.26);
    }
    .form-control {
      border-radius: 0;
      border: 1px solid #eceff1;
      font-size: 14px;
      font-weight: $w-medium;
      line-height: 31px;
      height: auto;
      padding-#{$end-direction}: 145px;
    }
    button[type="submit"] {
      position: absolute;
      #{$end-direction}: 0;
      top: 0;
      width: 138px;
      height: 45px;
      color: #fff;
      border: none;
      font-size: 14px;
      font-weight: $w-medium;
      line-height: 28px;
      border-radius: 0;
      &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 10px;
        background-image: url($img-path + "next.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-#{$start-direction}: 6px;
      }
    }
  }
}
.follow-us {
  margin-bottom: 15px;
  .social {
    list-style: none;
    display: flex;
    padding: 0;
    li {
      margin-#{$end-direction}: 30px;
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        color: $primary-color;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s;
        line-height: 40px;
        text-align: center;
      }
      &:hover {
        a {
          color: $secondary-color;
          background-color: $gray-bg;
        }
      }
    }
  }
}

button.scroll-up {
  display: none;
  height: 45px;
  width: 45px;
  border-radius: 2px;
  position: fixed;
  bottom: 23px;
  #{$end-direction}: 23px;
  z-index: 99;
}
.navigator {
  position: fixed;
  top: calc(50% - (228px / 2));
  height: 228px;
  #{$start-direction}: 25px;
  padding: 0;
  z-index: 999;
  list-style: none;
  li {
    padding-top: 24px;
    position: relative;
    transition: 0.3s;
    ::before {
      content: "";
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: $biege-color;
      margin-#{$end-direction}: 10px;
      transition: 0.3s;
    }
    ::after {
      content: "";
      position: absolute;
      bottom: 7px;
      #{$start-direction}: 5px;
      height: 100%;
      width: 2px;
      background-color: $biege-color;
      transition: 0.3s;
    }
    &:first-child {
      ::after {
        display: none;
      }
    }
    &.active {
      ::before,
      ::after {
        background-color: $dark-orange-color;
      }
      a {
        color: $dark-orange-color;
      }
    }
    a {
      font-size: 14px;
      font-weight: $w-medium;
      line-height: 18px;
      color: $biege-color;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        color: $dark-orange-color;
      }
    }
  }
}
.about-itfc {
  padding-top: 40px;
  background-image: url($img-path + "toparea-bg-about.png");
  background-color: $gray-bg;
  height: calc(100vh - 135px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    span.itfc {
      display: flex;
      align-items: center;
      font-family: Roboto;
      font-size: 75px;
      font-weight: $w-black;
      line-height: calc(52px * 2);
      color: $extra-bright-orange-color;
      height: 100%;
      &::after {
        content: "";
        display: flex;
        height: 84px;
        width: 2px;
        background-color: $black-color;
        vertical-align: middle;
        margin: 0 25px;
      }
    }
    span.desc {
      display: flex;
      font-family: Roboto;
      font-size: 40px;
      font-weight: $w-black;
      line-height: 52px;
      color: $black-color;
    }
  }
  p {
    font-size: 18px;
    font-weight: $w-medium;
    color: $black-color;
    line-height: 36px;
    max-width: 820px;
  }
}
.vision {
  background-image: url($img-path + "mission-vision-bg.png");
  background-color: $secondary-color;
  background-size: cover;
  background-position: center center;
  padding-top: 95px;
  padding-bottom: 120px;
}
.vision-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url($img-path + "vision-box-bg.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 115px;
  padding-bottom: 115px;
  max-width: 1060px;
  margin: auto;
  ul {
    padding: 0px;
    max-width: 790px;
    list-style: none;
    li {
      margin-bottom: 25px;
      h2 {
        font-family: Roboto;
        font-size: 60px;
        font-weight: $w-black;
        line-height: 80px;
        color: $black-color;
        margin-bottom: 10px;
      }
      p {
        font-size: 30px;
        font-weight: $w-medium;
        line-height: 45px;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
}
.inner-heading {
  ol.breadcrumb {
    padding: 0;
    background: none;
    margin-bottom: 40px;
    li.breadcrumb-item {
      padding: 0;
      font-size: 16px;
      font-weight: $w-medium;
      line-height: 24px;
      color: $bright-orange-color;
      & + li.breadcrumb-item {
        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid $bright-orange-color;
          margin: 5px 4px 5px 13px;
        }
      }
      &.active {
        color: $p-color;
      }
      > a {
        color: inherit;
      }
      &:hover {
      }
    }
  }
  h1 {
    font-family: Roboto;
    font-size: 45px;
    font-weight: $w-black;
    line-height: 55px;
    color: $black-color;
    margin-bottom: 70px;
    span {
      color: $extra-bright-orange-color;
      &.red {
        color: $red-color;
      }
    }
  }
}
.in-numbers {
  padding-top: 85px;
  padding-bottom: 40px;
  .header {
    font-size: 60px;
    font-weight: $w-black;
    font-family: Roboto;
    text-align: center;
    color: $black-color;
    margin-bottom: 50px;
    .red {
      color: $red-color;
    }
  }
  .owl-carousel {
    background-color: $red-color;
    padding-top: 80px;
    padding-bottom: 105px;
    .owl-item {
      &.active {
        .item {
          border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
        }
        &:first-child {
          .item {
            border-left: none;
          }
        }
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        display: flex;

        justify-content: center;
        span {
          background-color: rgba($color: #fff, $alpha: 0.5);
          width: 6px;
          height: 6px;
          margin: 4px;
        }
        &.active {
          span {
            background-color: #fff;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
.num-card {
  background-color: $red-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 240px;
  padding: 24px 15px 0;
  overflow: hidden;
  h2 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: $w-black;
    line-height: 56px;
    margin-bottom: 15px;
    .count {
      display: block;
    }
  }
  p {
    color: #fff;
    font-weight: $w-medium;
    font-size: 20px;
    line-height: 24px;
  }
}
.single-media {
  padding-top: 85px;
  padding-bottom: 122px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $gray-bg;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
  .header {
    margin-bottom: 66px;
    text-align: center;
    h2 {
      font-family: Roboto;
      font-size: 55px;
      line-height: 73px;
      font-weight: $w-black;
      color: $black-color;
      margin-bottom: 10px;
    }
    p {
      color: $red-color;
      font-size: 24px;
      font-weight: $w-medium;
      margin-bottom: 0;
    }
  }
  .video-box {
    height: 663px;
  }
  cite {
    display: block;
    text-align: right;
    color: $p-color;
    font-size: 16px;
    font-weight: $w-normal;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 14px;
    &::before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 16px;
      margin-right: 6px;
      background-color: $p-color;
      vertical-align: middle;
    }
  }
}
.itfc-trade {
  position: relative;
  padding-top: 37px;
  padding-bottom: 67px;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 135px);
    background-image: url($img-path + "trade-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  .inner-heading h1 {
    margin-bottom: 47px;
  }
}
.trade-box {
  background-color: #fff;
  padding: 42px 30px;
  .img-box {
    position: relative;
    padding: 13px;
    padding-top: 0;
    height: 405px;
    margin-bottom: 36px;
    .img-wrapper {
      padding-top: 40px;
      height: 100%;
      overflow: hidden;
      background-color: $gray-bg;
      img {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      #{$end-direction}: 0;
      width: 42px;
      height: 38px;
      background-image: url($img-path + "br-orange-border.svg");
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .header {
    padding-top: 50px;
    padding-#{$end-direction}: 10px;
    margin-bottom: 30px;
    span {
      font-size: 55px;
      line-height: 60px;
      font-family: Roboto;
      font-weight: $w-black;
      &.itfc {
        color: $red-color;
      }
      &.desc {
        color: $black-color;
      }
    }
    p {
      margin-top: 23px;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: $w-medium;
      line-height: 36px;
    }
  }
  #trade-content {
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-bottom: 70px;
    &.collapsed {
      max-height: 285px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80px;
        width: 100%;
        z-index: 2;
        background: white;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.7) 10%,
          rgba(255, 255, 255, 1) 80%
        );
      }
      .read-more {
        display: block;
        &.less {
          display: none;
        }
      }
    }
    > p {
      margin-bottom: 36px;
      line-height: 36px;
      font-size: 18px;
      font-weight: $w-medium;
    }
    .read-more {
      position: absolute;
      bottom: 0;
      #{$start-direction}: 0;
      z-index: 3;
      font-size: 16px;
      line-height: 21px;
      font-weight: $w-medium;
      color: $dark-red-color;
      display: none;
      &::after {
        content: "";
        display: inline-block;
        background-image: url($img-path + "red-plus-icon.svg");
        background-position: center center;
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        background-size: contain;
        vertical-align: sub;
      }
      &.less {
        display: block;
        &::after {
          background-image: url($img-path + "minus-icon.svg");
        }
      }
    }
  }
}
.itfc-globe {
  background-image: url($img-path + "globe-bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  background-color: #e9e9e9;
  height: calc(100vh);
  overflow: hidden;
  & > .container {
    display: flex;
    align-items: center;
    height: 100%;
    & > .row {
      width: 100%;
    }
  }
}
.globe-item {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  .globe-item-header {
    margin-bottom: 10px;
    h5 {
      button {
        padding: 0;
        display: block;
        width: 100%;
        position: relative;
        text-align: $start-direction;
        color: $red-color;
        font-size: 45px;
        font-weight: $w-black;
        font-family: Roboto;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
          text-decoration: none;
          box-shadow: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 36px;
          height: 18px;
          background-image: url($img-path + "up-red-arrow.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          #{$end-direction}: 0;
          top: 26px;
          transition: 0.3s;
        }
        &.collapsed {
          &::after {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
  .globe-item-body {
    font-size: 18px;
    font-weight: $w-medium;
    line-height: 36px;
    color: $black-color;
    padding-bottom: 36px;
  }
}
.single-media-2 {
  padding-top: 78px;
  padding-bottom: 107px;
  .header {
    text-align: center;
    margin-bottom: 52px;
    span {
      font-family: Roboto;
      font-size: 55px;
      font-weight: $w-black;
      line-height: 60px;
      &.itfc {
        color: $red-color;
      }
      &.desc {
        color: $black-color;
      }
    }
    p {
      font-size: 20px;
      line-height: 36px;
      font-weight: $w-medium;
      max-width: 912px;
      margin: auto;
      margin-top: 30px;
    }
  }
  .video-box {
    height: 663px;
  }
}
.related-items {
  padding-top: 95px;
  padding-bottom: 85px;
  background-color: $gray-bg;
  .header {
    margin-bottom: 54px;
    .hashtag {
      line-height: 21px;
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: $w-medium;
      color: $red-color;
    }
    h2 {
      font-size: 40px;
      font-family: Roboto;
      line-height: 48px;
      font-weight: $w-black;
      color: $black-color;
    }
  }
  ul.nav {
    background-color: #fff;
    position: relative;
    margin-bottom: 54px;
    &::after {
      content: "";
      width: calc(100% - 20px);
      height: 8px;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: -8px;
      background-color: $lighter-brown-color;
    }
    li {
      margin: 0 10px;
      a {
        display: inline-block;
        padding: 28px 50px 26px;
        color: $black-color;
        font-size: 18px;
        font-weight: $w-bold;
        &.active {
          color: $lighter-brown-color;
        }
      }
    }
  }
  .video-box {
    height: 210px;
  }
}
.related-item {
  margin-bottom: 15px;
  h4 {
    margin-top: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: $w-bold;
    line-height: 30px;
    color: $black-color;
  }
}
.video-box {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color: $black-color, $alpha: 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  img {
    min-height: 100%;
    min-width: 100%;
  }
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-image: url($img-path + "play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65px 65px;
    opacity: 0.8;
  }
}
.board-members {
  padding-top: 39px;
  position: relative;
  &::after {
    content: "";
    background-image: url($img-path + "globe-dotted-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.main-member-card {
  margin-bottom: 46px;
  .img-box {
    height: 412px;
    overflow: hidden;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }

  .content-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-family: Roboto;
      font-size: 40px;
      font-weight: $w-black;
      line-height: 52px;
      color: $black-color;
      margin-bottom: 22px;
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: $w-medium;
      line-height: 30px;
      color: $black-color;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      font-weight: $w-normal;
      line-height: 28px;
      color: $p-color;
    }
  }
}
.member-card {
  margin-bottom: 30px;
  .img-box {
    height: 317px;
    overflow: hidden;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }

  .content-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 19px;
    h4 {
      font-size: 24px;
      font-weight: $w-bold;
      line-height: 33px;
      height: calc(33px * 2);
      color: $black-color;
      margin-bottom: 10px;
      overflow: hidden;
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: $w-medium;
      line-height: 30px;
      color: $black-color;
      margin-bottom: 15px;
    }
  }
}
.main-hub {
  padding-top: 39px;
  height: calc(100vh - 135px);
  background-color: $gray-bg;
  background-image: url($img-path + "right-globe-bg.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  .inner-heading {
    h1 {
      margin-bottom: 66px;
    }
  }
  .hub-content{
    h2{
      margin-bottom: 32px;
      font-family: Roboto;
      font-size: 40px;
      font-weight: $w-black;
      line-height: 52px;
      color: $black-color;
      span{
        color: $extra-bright-orange-color;
      }
    }
    p{
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 42px;
      font-weight: $w-medium;
      color: $black-color;
    }
    h4{
      font-size: 24px;
      font-weight: $w-bold;
      line-height: 42px;
      margin-bottom: 12px;
      color: $black-color;
    }
    ul{
      padding: 0;
      list-style: none;
      li{
        font-size: 18px;
        font-weight: $w-medium;
        line-height: 42px;
        color: $black-color;
        margin-bottom: 0;
        .num{
          direction: ltr;
        }
        .mail{
          color: $red-color;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.regional-hubs {
  padding-top: 38px;
  padding-bottom: 78px;
  .header{
    margin-bottom: 34px;
    h2{
      margin-bottom: 15px;
      font-family: Roboto;
      font-size: 40px;
      font-weight: $w-bold;
      line-height: 42px;
      color: $black-color;
    }
  }
}
.hub-card {
  position: relative;
  margin-bottom: 42px;
  min-height: 356px;
  padding: 20px 32px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #E0E3E6;
  box-shadow: 0 3px 45px rgba($color: #000000, $alpha: 0.1);
  .img-box{
    width: 310px;
    height: 245px;
    align-self: center;
    overflow: hidden;
    img{
      min-width: 100%;
      min-height: 100%;
    }
  }
  .content-box{
    flex-grow: 1;
    h3{
      color: $red-color;
      font-size: 30px;
      font-weight: $w-bold;
      line-height: 42px;
      margin-bottom: 20px;
    }
    >ul{
      padding: 0;
      padding-#{$start-direction}: 25px;
      list-style: none;
      li{
        position: relative;
        margin-bottom: 16px;
        &.horizontal{
          .title{
            display: block;
            margin-bottom: 15px;
          }
        }
        span{
          line-height: 24px;
        }
        .title{
          font-size: 18px;
          font-weight: $w-bold;
          color: $black-color;
          margin-#{$end-direction}: 5px;
        }
        .value{
          font-size: 18px;
          font-weight: $w-medium;
          color: $p-color;
          &.red{
            color: $red-color;
          }
        }
        .icon{
          position: absolute;
          top: 3px;
          #{$start-direction}:-25px;
        }
        ul{
          list-style: none;
          padding: 0; 
          li{
            display: inline-block;
            margin-bottom: 0;
            &:first-child{
              margin-#{$end-direction}: 50px;
            }
          }
        }
      }
     
    }
  }
  &.headquarter{
    border: 2px solid $red-color;
    &::after{
      content: "";
      height: 12px;
      width: calc(100% - 32px);
      position: absolute;
      bottom: -12px;
      left: 11px;
      background-color: $red-color;

    }
    .content-box{
      h3{
        margin-bottom: 45px;
      }
    }
  }
}
ul.fixed-social
{
  padding: 0;
  list-style: none;
  margin: 0;
  position: fixed;
  #{$start-direction}:16px;
  top: calc(50% - 280px / 2);
  li{
    width: 38px;
    height: 38px;
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: rgba($color: $p-color, $alpha: 0.8);
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      img{
        transition: 0.3s;
      }
    }
    &:hover{
      a{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
}
// RTL
html[dir="rtl"] {
}
