// montserrat
@font-face {
  font-family: "montserrat";
  src:
  //  url($font-path + "Montserrat-Regular.woff2") format("woff2"),
    url($font-path + "Montserrat-Regular.ttf");
  font-weight: $w-normal;
}
@font-face {
  font-family: "montserrat";
  src:
  //  url($font-path + "Montserrat-Medium.woff2") format("woff2"),
    url($font-path + "Montserrat-Medium.ttf");
  font-weight: $w-medium;
  //medium
}
@font-face {
  font-family: "montserrat";
  src:
  //  url($font-path + "Montserrat-SemiBold.woff2") format("woff2"),
    url($font-path + "Montserrat-SemiBold.ttf");
  font-weight: $w-semi-bold;
  // semi bold
}
@font-face {
  font-family: "montserrat";
  src:
  //  url($font-path + "Montserrat-Bold.woff2") format("woff2"),
    url($font-path + "Montserrat-Bold.ttf");
  font-weight: $w-bold;
  // bold
}
@font-face {
  font-family: "montserrat";
  src: url($font-path + "Montserrat-Black.woff2") format("woff2"),
    url($font-path + "Montserrat-Black.ttf");
  font-weight: $w-black;
  // black
}
// DINNextLT
@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNEXTLTARABIC-LIGHT.ttf");
  font-weight: $w-light;
}
@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNextLTArabic-Regular.ttf");
  font-weight: $w-normal;
}
@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNextLTArabic-Medium.ttf");
  font-weight: $w-medium;
  //medium
}
@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNextLTArabic-Heavy.ttf");
  font-weight: $w-semi-bold;
  // semi bold
}

@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNextLTArabic-Bold.ttf");
  font-weight: $w-bold;
}
@font-face {
  font-family: "DINNextLT";
  src: url($font-path + "DINNextLTArabic-Black.ttf");
  font-weight: $black;
}
// Roboto
@font-face {
  font-family: Roboto;
  src:
  //  url($font-path + "Roboto-Regular.woff2") format("woff2"),
    url($font-path + "Roboto-Regular.ttf") format("truetype");
  font-weight: $w-normal;
}
@font-face {
  font-family: Roboto;
  src:
  //  url($font-path + "Roboto-Medium.woff2") format("woff2"),
    url($font-path + "Roboto-Medium.ttf");
  font-weight: $w-medium;
  //medium
}
@font-face {
  font-family: Roboto;
  src:
  //  url($font-path + "Roboto-Bold.woff2") format("woff2"),
    url($font-path + "Roboto-Bold.ttf");
  font-weight: $w-bold;
  // bold
}
@font-face {
  font-family: Roboto;
  src:
  //  url($font-path + "Roboto-Black.woff2") format("woff2"),
    url($font-path + "Roboto-Black.ttf");
  font-weight: $w-black;
  // black
}
