/*
this UI is made desktop first.
*/
@media (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 1399.97px) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item {
    margin-#{$start-direction}: auto;
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 65px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 1140px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 1140px + 30px) / 2);
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0;
    margin: 0;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    /*  height of nav-item  */
    top: 135px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .main-navbar.fixed .navbar .dropdown-menu {
    top: 69px;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 960px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 960px + 30px) / 2);
  }

  .inner-heading {
    ol.breadcrumb {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 40px;
      line-height: 24px;
      margin-bottom: 35px;
   }
  }
  // what is itfc
  // about section
  .about-itfc{
    div.header{
      margin-bottom: 30px;
      .itfc{
        font-size: 55px;
      }
      .desc{
        font-size: 35px;
      }
    }
    p {
      font-size: 16px !important;
      line-height: 26px !important;
      max-width: 650px;
    }
    .trade-box #trade-content.collapsed {
      max-height: 275px;
  }
  }
  // vision section
  .vision{
    .vision-box{
      ul{
        li{
          h2{
            font-size: 50px;
            line-height: 55px;
          }
          p{
            font-size: 25px;
            line-height: 35px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    .header{
      font-size: 45px;
      margin-bottom: 35px;
    }
  }
  // single-media section
  .single-media{
    .header{
      h2{
        font-size: 45px;
        margin-bottom: 35px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 550px;
    }
  }
}
// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
  .main-navbar {
    #navbarSupportedContent {
      position: absolute;
      width: 100%;
      #{$start-direction}: 0;
      background: #fff;
      top: 135px;
      z-index: 99;
      > .navbar-nav {
        > .nav-item {
          margin: auto;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .navbar-brand {
      align-self: flex-start;
    }
    .navbar-toggler {
      position: absolute;
      #{$end-direction}: 50px;
      top: 70px;
    }
    .nav-wrapper {
      flex-grow: 1;
      width: auto;
      align-self: flex-start;
      margin-top: 20px;
      .top-nav {
        margin-top: 0;
        .nav-item {
          margin-#{$start-direction}: auto;
        }
      }
    }
  }
  .main-navbar .top-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 720px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 720px + 30px) / 2);
  }
  .hub-card{
    flex-direction: column;
    .img-box{
      margin-bottom: 20px;
    }
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Mobile_Menu' data-name='Mobile Menu' xmlns='http://www.w3.org/2000/svg' width='24' height='16' viewBox='0 0 24 16'%3e%3crect id='Rectangle_11754' data-name='Rectangle 11754' width='24' height='2' fill='%23d5313a'/%3e%3crect id='Rectangle_11755' data-name='Rectangle 11755' width='24' height='2' transform='translate(0 7)' fill='%23d5313a'/%3e%3crect id='Rectangle_11756' data-name='Rectangle 11756' width='24' height='2' transform='translate(0 14)' fill='%23d5313a'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
  .main-navbar {
    #navbarSupportedContent {
      top: 100px;
    }
  }
  .navbar-brand {
      padding-top: 0 !important;
      img{
        width: 155px;
      }
   }
   .navbar-toggler {
    top: 50px !important;
  }
  .inner-heading {
    ol.breadcrumb {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 30px;
      line-height: 24px;
      margin-bottom: 30px !important;
   }
  }
  

  footer{
    .copySection{
      order: 2;
      .copy{
        margin-bottom: 30px;
        margin-top: 25px;
        text-align: center;
      }
    }
    .links{
      ul{
        justify-content: center;
      }
    }
  }

  /*
  --------index--------
  */
  // latest news navigation

  .latest-news{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        #{$start-direction}: 50%;
        #{$end-direction}: auto;
        button{
          &.owl-next{
          #{$end-direction}: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }

  .upcoming-events{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        #{$start-direction}: 50%;
        #{$end-direction}: auto;
        button{
          &.owl-next{
          #{$end-direction}: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }


///////////////////////////

  // main slider
  .main-header {
    height: 500px ;
    .slider-wrapper {
      .owl-carousel {
        .item {
          .caption {
            top: 105px;
            h2{
              font-size: 30px;
              line-height: 35px;
              .text-bg{
                &::before{
                  #{$start-direction}: -3px;
                  top: 1px;
                  width: calc(100% + 8px);
                  height: 35px;
                }
              }
            }
            p{
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 40px;
            }
            .learn-more{
              font-size: 16px;
              padding: 7px 12px;
             
            }
          }
        }
      }
    }
  }
  // main index page styles 

  .heading{
    h2{
      font-size: 25px;
      line-height: inherit;
    }
    p{
      font-size: 16px;
    }
  }
  // in-focus
  .in-focus{
    .focus-card{ 
      h4{
        font-size: 20px;
        line-height: 24px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  // 
  .upcoming-events{
    .event-card{
      .content{
        font-size: 16px;
        line-height: 24px;
        .end-date{
          img{
            margin-#{$end-direction}: 10px;
          }
        }
      }
    }
  }
  // publications
  .publications{
    &::before{
      height: 1090px;
    }
    h2{
      font-size: 22px;
      text-align: center;
      line-height: inherit;
      margin-bottom: 23px;
    }
    .pub-card{
      height: 370px;
    }
    .actions{
      justify-content: center;
    }
  }
  // our-group
  .our-group {
    .heading{
      margin-bottom: 0;
    }
    .col{
    flex: 0 0 50%;
    max-width: 50%;
    }
    .logo-box{
      width: 100%;
    }
  } 
  ///////////////////////////////////
// what is itfc
  // about section
  .about-itfc{
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    div.header{
      margin-bottom: 25px;
      .itfc{
        font-size: 35px;
      }
      .desc{
        font-size: 22px;
      line-height: 36px;
      }
    }
    p {
      font-size: 16px !important;
      line-height: 24px !important;
      max-width: 470px;
    }
  }
  // vision section
  .vision{
    padding-top: 70px;
    padding-bottom: 50px;
    .vision-box{
      padding-top: 100px;
      padding-bottom: 50px;
      ul{
        li{
          h2{
            font-size: 40px;
            line-height: 48px;
          }
          p{
            font-size: 22px;
            line-height: 30px;
            margin-#{$end-direction}: 41px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    padding-top: 50px;
    .header{
      font-size: 35px;
      margin-bottom: 30px;
    }
    .owl-carousel {
      padding-top: 50px;
      padding-bottom: 70px;
    }
    .owl-nav{
      display: none;
    }
  }
  // single-media section
  .single-media{
    padding-top: 40px;
    padding-bottom: 50px;
    .header{
      margin-bottom: 16px;
      h2{
        font-size: 35px;
        line-height: 40px;
      }
      p{
        font-size: 18px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 350px;
    }
    cite {
      font-size: 16px;
      padding: 0 10px;
      line-height: 24px;
    }
  }
  ////////////////////////////////

   /*
  -------- regional hubs --------
  */

  .main-hub{
    background-position: 500px;
    height: auto;
    padding-bottom: 20px;
    .hub-content{
      h2{
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 25px;
      }
      p{
        margin-bottom: 20px;
      }
    }
  }
  .regional-hubs{
    
    padding-top: 25px;
    padding-bottom: 50px;

    .header{
      margin-bottom: 20px;
      h2{
        margin-bottom: 0px;
        font-size: 22px;
      }
    }
  
    .hub-card{
      .img-box{
        order: 2;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .content-box{
        h3{
          margin-bottom: 20px !important;
          font-size: 20px;
        }
        ul{
          li{
            .title {
              font-size: 16px;
            }
            .value {
              font-size: 16px;
            }
            ul li:first-child {
              margin-#{$end-direction}: 30px;
           }
          }
          li.horizontal {
            .title {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}


// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .side-border {
    border: none;
  }
  .navbar .dropdown-menu {
    &.show {
      text-align: center;
      padding-bottom: 0;
      background-color: rgba(238, 238, 238, 0.5) !important;
    }
    ul.nav {
      margin-bottom: 15px;
    }
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 540px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 540px + 30px) / 2);
    bottom: 20px;
    .scroll-down{
      display: none;
    }
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 40px;
  }
  .navigator {
    display: none;
    li {
      ::after {
        bottom: 9px;
      }
      a {
        font-size: 0 !important;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  .main-navbar .nav-wrapper .top-nav {
    .navbar-nav{
      .nav-item{
        display: none;
        &:nth-of-type(4){
          display: block;
          position: absolute;
          #{$end-direction}: 65px;
          top: 32px;
          a.lang{
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: 15px;
    bottom: 10px;
    top: auto;
    display: flex;
    margin-bottom: 0;
    li{
      margin-bottom: 0;
      font-size: 20px;
      margin-#{$end-direction}: 5px;
      &:last-of-type{
      margin-#{$end-direction}: 0;
      }
    }
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: 15px;
  }
  .in-focus .slider-wrapper .owl-carousel::before {
    display: none;
  }
  .fixed-social{
    display: none;
  }

/*
-------------------- header -------------------
*/
  .main-navbar {
    min-height: 95px;
    #navbarSupportedContent {
      top: 94px;
      > .navbar-nav {
        > .nav-item {
          width: 100%;
          #navbarDropdown{
            width: 100%;
            padding: 20px 15px;
            // padding-#{$start-direction}: 15px;
            font-size: 14px;
            &::before{
              width: 35%;
              #{$start-direction}: 15px;
            }
            &::after{
              #{$end-direction}: 16px;
              position: absolute;
              top: 27px;
            }
          }
          &.d-block{
            .form-group{
              margin-bottom: 0;
              padding: 0 15px;
              .form-control{
                border: 1px solid #D6DADF;
                border-radius: 0;
                font-size: 14px;
                font-weight: $w-medium;
                padding-#{$end-direction}: 26px;
              }
              .btn{
                position: absolute;
                top: -2px;
                #{$end-direction}: 10px;
              }
            }
          }
        }
      }
    }
    .navbar-brand {
     padding: 0;
     img{
       width: 142px;
     }
    }
    .navbar-toggler {
      #{$end-direction}: 0px;
      top: 30px !important;
      border-radius: 2px;
      width: 44px;
      height: 36px;
      padding: 0;
    }
    // .nav-wrapper {
    //   flex-grow: 1;
    //   width: auto;
    //   align-self: flex-start;
    //   margin-top: 20px;
    //   .top-nav {
    //     margin-top: 0;
    //     .nav-item {
    //       margin-#{$start-direction}: auto;
    //     }
    //   }
    // }
  }
  .navbar .dropdown-menu {
    padding-top: 20px !important;
    border-top: 0 !important;
    &.show {
      text-align: #{$start-direction};
      background-color: #F3F6FB !important;
      box-shadow: none !important;
    }
    ul.nav {
      // border-bottom: 1px solid #DFDFDF;
      .nav-item{
        .nav-link{
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
    h6{
      margin-bottom: 7px !important
    }
    p{
      font-size: 13px !important;
      line-height: 24px !important;
    }
  }
  .pl-30 {
    padding-#{$start-direction}: 15px !important;
}
/*
------------------------- footer------------------------
*/
footer {
  .subscription{
    label {
      font-size: 16px;
      margin-bottom: 15px;
  }
  .form-group{
    .form-control{
      padding-#{$end-direction}: 125px;
    }
    button[type="submit"]{
      width: 120px;
    }
    }
  }
  hr{
    margin-top: 0;
    margin-bottom: 35px;
  }
  .copySection{
    order: 2;
    background-color: #F3F6FB;
    .copy{
      margin-bottom: 30px;
      margin-top: 25px;
    }
  }
  .links{
    ul{
      display: block;
      li{
        display: inline-block;
        a{
          line-height: inherit;
        }
        &::after{
          top: 1px;
        }
      }
    }
  }
}

/*
---------- main breadcrumb -------
*/

.inner-heading {
  ol.breadcrumb{
    margin-bottom: 16px;
     li.breadcrumb-item{
      font-size: 14px;
     }
    }
    h1{
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 30px;
    }
  }
  /*
  top-social-share
  */
  .top-social-share{
    position: relative !important;
    #{$start-direction}: auto !important;
    top: auto !important;
    margin-bottom: 30px !important;
    li{
      margin-#{$end-direction}: 13px;
      margin-#{$end-direction}: 2%;
    }
  }
/* ----- index ------- */

// main slider
  .main-header {
    height: 455px ;
    .slider-wrapper {
      .owl-carousel {
        .item {
          .caption {
            top: 105px;
            h2{
              font-size: 27px;
              line-height: 35px;
              .text-bg{
                &::before{
                  #{$start-direction}: -3px;
                  top: 1px;
                  width: calc(100% + 8px);
                  height: 35px;
                }
              }
            }
            p{
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 38px;
            }
            .learn-more{
              font-size: 14px;
              padding: 4px 10px;
              &::after{
                margin-#{$start-direction}: 0px;
              }
            }
          }
        }
      }
    }
  }
  // main index page styles 
  a.show-all{
    display: none;
  }
  .heading{
    h2{
      font-size: 22px;
      line-height: inherit;
    }
    p{
      font-size: 14px;
    }
  }
  // in-focus
  .in-focus{
    .focus-card{ 
      h4{
        font-size: 20px;
        line-height: 24px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  // 
  .upcoming-events{
    .event-card{
      .content{
        font-size: 16px;
        line-height: 24px;
        .end-date{
          img{
            margin-#{$end-direction}: 10px;
          }
        }
      }
    }
  }
  // publications
  .publications{
    &::before{
      height: 1090px;
    }
    h2{
      font-size: 22px;
      text-align: center;
      line-height: inherit;
      margin-bottom: 23px;
    }
    .pub-card{
      height: 370px;
    }
    .actions{
      justify-content: center;
    }
  }
  // our-group
  .our-group {
    .heading{
      margin-bottom: 0;
    }
    .col{
    flex: 0 0 50%;
    max-width: 50%;
    }
  } 

  // what is itfc
  // about section
  .about-itfc{
    height: auto;
    padding-bottom: 0;
    background-image: url($img-path + "what-is-itfc-xs.svg");
    div.header{
      margin-bottom: 25px;
      .itfc{
        font-size: 35px;
      }
      .desc{
        font-size: 22px;
      line-height: 36px;
      }
    }
    p {
      font-size: 14px !important;
      line-height: 24px !important;
    }
    .trade-box #trade-content.collapsed::after{
      width: 110%;
    }
     .trade-box #trade-content.collapsed {
       max-height: 285px; 
  }
  }
  // vision section
  .vision{
    padding-top: 35px;
    padding-bottom: 10px;
    .vision-box{
      padding-top: 52px;
      padding-bottom: 0px;
      ul{
        li{
          h2{
            font-size: 35px;
            line-height: 48px;
          }
          p{
            font-size: 20px;
            line-height: 30px;
            margin-#{$end-direction}: 41px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    background-image: url($img-path + "in-numbers-xs.svg");
    background-position: center 75px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 80px;
    .header{
      font-size: 22px;
      margin-bottom: 17px;
    }
    .owl-carousel {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .owl-nav{
      top: calc(100% + 15px);
      #{$start-direction}: 50%;
      #{$end-direction}: auto;
      position: absolute;
      z-index: 99;
      display: block;
      button{
        display: inline-block !important;
        width: 48px;
        height: 48px;
        background-color: #fff !important;
        border: 1px solid #ded4d0 !important;
        border-radius: 50% !important;
        // background-position: center center !important;
        // background-repeat: no-repeat !important;
        position: absolute;
        span{
          display: none;
        }
        &.owl-next {
          background: url($img-path + "next-sm-arrow.svg") !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          // margin-#{$start-direction}: 15px;
          // #{$end-direction}: -70px;
        }
        &.owl-prev {
          background: url($img-path + "prev-sm-arrow.svg") !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          margin-#{$start-direction}: 15px;
          #{$start-direction}: -70px;
        }
      }
    }
  }
  // single-media section
  .single-media{
    padding-top: 40px;
    padding-bottom: 50px;
    .header{
      margin-bottom: 16px;
      h2{
        font-size: 22px;
        line-height: 28px;
      }
      p{
        font-size: 14px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 237px;
    }
    cite {
      font-size: 12px;
      padding: 0 10px;
      line-height: 22px;
    }
  }

  /*
  -------- regional hubs --------
  */

  .main-hub{
    background-position: 250px;
    height: auto;
    padding-bottom: 20px;
    .hub-content{
      h2{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 25px;
      }
      p{
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 30px;
      }
      h4{
        font-size: 18px;
        line-height: inherit;
      }
      ul{
        li{
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;      
        }
      }
    }
  }
  .regional-hubs{
  
    .hub-card{
      padding: 15px 15px 30px;
      .img-box{
        width: 202px;
        height: 160px;
      }
    }
  }
}
