/*
this UI is made desktop first.
*/
@media (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 1399.97px) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item {
    margin-left: auto;
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 65px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 1140px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 1140px + 30px) / 2);
  }
// news-list-section
  .news-list-section{
    .grid-show{
      .list-item{
        width: calc(100% / 2 - 3px);
        border: 1px solid #f0f0f0;
        padding-bottom: 15px;
        border-radius: 0 0 5px 5px;
        height: auto;
        .list-img {
          width: 100%;
          height: 250px;
        }
        .list-content{
          padding: 20px 10px 0;
        }
      }
    }
  }

  // events-list-section
  .events-list-section {
    .list-with-filter.list-show {
      .list-item {
        height: auto;
        .event-card-content {
          p{
            height: auto;
            font-size: 16px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  // multimedia
  .multimedia {
    .list-card {
      .list-with-filter.grid-show {
        :nth-child(3n + 0).list-item {
          margin-#{$end-direction}: 10px !important;
        }
        :nth-child(2n + 0).list-item {
          margin-#{$end-direction}: 0 !important;
        }
        .list-item{
          width: calc(100% / 2 - 10px);
          margin-#{$end-direction}: 10px;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0;
    margin: 0;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 135px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .main-navbar.fixed .navbar .dropdown-menu {
    top: 69px;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 960px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 960px + 30px) / 2);
  }

  .inner-heading {
    ol.breadcrumb {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 40px;
      line-height: 24px;
      margin-bottom: 35px;
   }
  }

   /*
  --------index--------
  */
  // latest news navigation

  .latest-news{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        left: 50%;
        right: auto;
        button{
          &.owl-next{
          right: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }

  .upcoming-events{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        left: 50%;
        right: auto;
        button{
          &.owl-next{
          right: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }
  // what is itfc
  // about section
  .about-itfc{
    div.header{
      margin-bottom: 30px;
      .itfc{
        font-size: 55px;
      }
      .desc{
        font-size: 35px;
      }
    }
    p {
      font-size: 16px !important;
      line-height: 26px !important;
      max-width: 650px;
    }
    .trade-box #trade-content.collapsed {
      max-height: 275px;
  }
  }
  // vision section
  .vision{
    .vision-box{
      ul{
        li{
          h2{
            font-size: 50px;
            line-height: 55px;
          }
          p{
            font-size: 25px;
            line-height: 35px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    .header{
      font-size: 45px;
      margin-bottom: 35px;
    }
  }
  // single-media section
  .single-media{
    .header{
      h2{
        font-size: 45px;
        margin-bottom: 35px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 550px;
    }
  }
  .left-filter , .right-filter{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .related-items {
    .publication-items{
      // display: block;
      .publication-item {
        width: 100%;
        height: auto;
        margin: 0 5px; 
        margin-bottom: 20px;
        .publication-image {
          width: 100%;
          // height: 250px;
          overflow: hidden;
          margin-bottom: 20px;
          position: relative;
        }
      }
    }
  }

  /*
  ------- projects list --------
  */
  .projects-highlight{
    &::before{
      background-position: calc(100% + 180px) 0;
      background-size: contain;
    }
       .trade-box {
        padding-#{$end-direction}: 390px;
        .header {
          span{
            font-size: 45px;
          }
        }
      }
    }
    .projects-management{
      .list-show{
        .custom-grid{
          .project-item{
            min-height: 245px;
            height: auto !important;
            .img-box {
              width: 285px;
              height: 268px !important;
              flex: 0 0 285px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .content{
              padding: 10px 15px !important;
              word-break: break-word;
              h4{
                margin-bottom: 10px;
                font-size: 20px;
              }
              ul.status{
                flex-direction: column;
                li{
                  margin-bottom: 5px;
                  margin-right: 0;
                  font-size: 15px;
                }
              }
              .details {
                font-size: 15px;
                margin-bottom: 7px;
              }
              .inline-list {
                h6{
                  margin-bottom: 5px;
                }
                p{
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
  }

/*
------- events inner --------
*/
.events-inner {
  .news-inner-card {
    .speakers , .organizer , .sponsors {
      .owl-carousel {
        .owl-stage-outer{
          width: auto;
        }

            .owl-nav{
              top: calc(100% + 15px);
              #{$start-direction}: 50%;
              #{$end-direction}: auto;
              width: auto;
              button{
                &.owl-next{
                  #{$end-direction}: -50px;
                }
                &.owl-prev {
                  #{$start-direction}: -70px;
                }
                &.disabled {
                  display: inline-block;
                }
              }
            }

      }
    }
  }
}
/*
--------- projects inner ---------
*/

.project-tabs{
  min-height: 600px;
  #project-tab{
    padding-#{$start-direction}:20px ;
    padding-#{$end-direction}:20px ;
    .nav-item{
      .nav-link{
        font-size: 16px;
        padding-#{$start-direction}:10px ;
        padding-#{$end-direction}:10px ;
      }
    }
  }
  .tab-content {
    .title{
      font-size: 25px;
      img {
        margin-right: 15px;
        vertical-align: bottom;
        width: 40px;
      }
    }
    .content {
      padding-#{$start-direction}:62px ;
      padding-#{$end-direction}:35px ;
      #trade-content{
        p {
          line-height: 28px;
          font-size: 16px;
        }
      }
      .custom-list{
        margin-top: 20px;
        ol{
          li{
            font-size: 16px;
            margin-bottom: 20px;
            &::before{
              margin-#{$end-direction}: 10px;
              width: 25px;
              height: 25px;
              vertical-align: middle;
              line-height: 24px;
              font-size: 12px;
            }
          }
        }
        ul{
          li{
              padding: 0;
              font-size: 16px;
              margin-bottom: 20px;
          
          }
        }
      }
      p{
        font-size: 16px;
      }
    }
  }
}
.resume-slider{
  .owl-dots {
    justify-content: center;
    flex-flow: wrap;
    li{
      margin: 0 10px !important;
    }
}
  .owl-item{
    .item{
      .content-box{
        padding-#{$start-direction}: 60px;
        padding-#{$end-direction}: 15px;
        padding-top: 50px;
        padding-bottom: 15px;
        &::before{
          background-size: 50px;
        }
        h3 {
          font-size: 20px;
          line-height: 30px;
          height: calc(30px * 3);
          margin-bottom: 10px;
        }
        p{
          font-size: 16px;
          line-height: 23px;
        }
        .additional-data{
          .title{
            font-size: 16px;
          }
          .value{
            font-size: 16px;

          }
        }
      }
    }
  }
}
}
// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
  .main-navbar {
    #navbarSupportedContent {
      position: absolute;
      width: 100%;
      left: 0;
      background: #fff;
      top: 135px;
      z-index: 99;
      > .navbar-nav {
        > .nav-item {
          margin: auto;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .navbar-brand {
      align-self: flex-start;
    }
    .navbar-toggler {
      position: absolute;
      #{$end-direction}: 50px;
      top: 70px;
    }
    .nav-wrapper {
      flex-grow: 1;
      width: auto;
      align-self: flex-start;
      margin-top: 20px;
      .top-nav {
        margin-top: 0;
        .nav-item {
          margin-#{$start-direction}: auto;
        }
      }
    }
  }
  .main-navbar .top-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 720px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 720px + 30px) / 2);
  }
  .hub-card{
    flex-direction: column;
    .img-box{
      margin-bottom: 20px;
    }
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Mobile_Menu' data-name='Mobile Menu' xmlns='http://www.w3.org/2000/svg' width='24' height='16' viewBox='0 0 24 16'%3e%3crect id='Rectangle_11754' data-name='Rectangle 11754' width='24' height='2' fill='%23d5313a'/%3e%3crect id='Rectangle_11755' data-name='Rectangle 11755' width='24' height='2' transform='translate(0 7)' fill='%23d5313a'/%3e%3crect id='Rectangle_11756' data-name='Rectangle 11756' width='24' height='2' transform='translate(0 14)' fill='%23d5313a'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
  .main-navbar {
    #navbarSupportedContent {
      top: 100px;
    }
  }
  .navbar-brand {
      padding-top: 0 !important;
      img{
        width: 155px;
      }
   }
   .navbar-toggler {
    top: 50px !important;
  }
  .inner-heading {
    ol.breadcrumb {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 30px;
      line-height: 24px;
      margin-bottom: 30px !important;
   }
  }
  

  footer{
    .copySection{
      order: 2;
      .copy{
        margin-bottom: 30px;
        margin-top: 25px;
        text-align: center;
      }
    }
    .links{
      ul{
        justify-content: center;
      }
    }
  }

  /*
  --------index--------
  */
  // latest news navigation

  .latest-news{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        left: 50%;
        right: auto;
        button{
          &.owl-next{
          right: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }

  .upcoming-events{
    .owl-carousel {
      .owl-nav{
        top: calc(100% - 45px);
        left: 50%;
        right: auto;
        button{
          &.owl-next{
          right: -50px;
          }
          &.disabled {
            display: inline-block;
          }
        }
      }
    }
  }


///////////////////////////

  // main slider
  .main-header {
    height: 500px ;
    .slider-wrapper {
      .owl-carousel {
        .item {
          .caption {
            top: 105px;
            h2{
              font-size: 30px;
              line-height: 35px;
              .text-bg{
                &::before{
                  #{$start-direction}: -3px;
                  top: 1px;
                  width: calc(100% + 8px);
                  height: 35px;
                }
              }
            }
            p{
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 40px;
            }
            .learn-more{
              font-size: 16px;
              padding: 7px 12px;
             
            }
          }
        }
      }
    }
  }
  // main index page styles 

  .heading{
    h2{
      font-size: 25px;
      line-height: inherit;
    }
    p{
      font-size: 16px;
    }
  }
  // in-focus
  .in-focus{
    .focus-card{ 
      h4{
        font-size: 20px;
        line-height: 24px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  // 
  .upcoming-events{
    .event-card{
      .content{
        font-size: 16px;
        line-height: 24px;
        .end-date{
          img{
            margin-#{$end-direction}: 10px;
          }
        }
      }
    }
  }
  // publications
  .publications{
    &::before{
      height: 1090px;
    }
    h2{
      font-size: 22px;
      text-align: center;
      line-height: inherit;
      margin-bottom: 23px;
    }
    .pub-card{
      height: 370px;
    }
    .actions{
      justify-content: center;
    }
  }
  // our-group
  .our-group {
    .heading{
      margin-bottom: 0;
    }
    .col{
    flex: 0 0 50%;
    max-width: 50%;
    }
    .logo-box{
      width: 100%;
    }
  } 
  ///////////////////////////////////
// what is itfc
  // about section
  .about-itfc{
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    div.header{
      margin-bottom: 25px;
      .itfc{
        font-size: 35px;
      }
      .desc{
        font-size: 22px;
      line-height: 36px;
      }
    }
    p {
      font-size: 16px !important;
      line-height: 24px !important;
      max-width: 470px;
    }
  }
  // vision section
  .vision{
    padding-top: 70px;
    padding-bottom: 50px;
    .vision-box{
      padding-top: 100px;
      padding-bottom: 50px;
      ul{
        li{
          h2{
            font-size: 40px;
            line-height: 48px;
          }
          p{
            font-size: 22px;
            line-height: 30px;
            margin-#{$end-direction}: 41px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    padding-top: 50px;
    .header{
      font-size: 35px;
      margin-bottom: 30px;
    }
    .owl-carousel {
      padding-top: 50px;
      padding-bottom: 70px;
    }
    .owl-nav{
      display: none;
    }
  }
  // single-media section
  .single-media{
    padding-top: 40px;
    padding-bottom: 50px;
    .header{
      margin-bottom: 16px;
      h2{
        font-size: 35px;
        line-height: 40px;
      }
      p{
        font-size: 18px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 350px;
    }
    cite {
      font-size: 16px;
      padding: 0 10px;
      line-height: 24px;
    }
  }
  ////////////////////////////////

   /*
  -------- regional hubs --------
  */

  .main-hub{
    background-position: 500px;
    height: auto;
    padding-bottom: 20px;
    .hub-content{
      h2{
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 25px;
      }
      p{
        margin-bottom: 20px;
      }
    }
  }
  .regional-hubs{
    
    padding-top: 25px;
    padding-bottom: 50px;

    .header{
      margin-bottom: 20px;
      h2{
        margin-bottom: 0px;
        font-size: 22px;
      }
    }
  
    .hub-card{
      .img-box{
        order: 2;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .content-box{
        h3{
          margin-bottom: 20px !important;
          font-size: 20px;
        }
        ul{
          li{
            .title {
              font-size: 16px;
            }
            .value {
              font-size: 16px;
            }
            ul li:first-child {
              margin-right: 30px;
           }
          }
          li.horizontal {
            .title {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .list-filter{
    display: none;
  }
  .dropdown {
    .list-filter{
      display: block ;
    }
  }

  .related-items {
    h2{
      font-size: 30px !important;
    }
    .publication-items{
      display: block;
      .publication-item {
        width: 100%;
        height: auto;
         margin: 0; 
        margin-bottom: 20px;
        .publication-image {
          width: 100%;
          height: 250px;
          overflow: hidden;
          margin-bottom: 30px;
          position: relative;
        }
      }
    }
  }
  /*
  -------------- news inner page ---------------
  */
  .news-inner-section{
    .size-changes {
      order: 1;
      padding-#{$start-direction}: 15px;
    }
    .news-inner-card{
      padding-top: 30px;
      margin-bottom: 0;
      .left-news-section {
        padding-#{$start-direction}: 15px;
        padding-#{$end-direction}: 15px;
        h2{
          font-size: 30px;
          line-height: 35px
        }
        p{
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
      p.details {
        line-height: 30px;
        padding: 25px 20px 0;
      }
    }
  }
  .news-list-section{
    .top-filter{
      .left-filter{
        form {
          justify-content: left !important;
        }
        label{
          display: none;
        }
        .form-group{
          max-width: 45%;
          .form-control{
            width: 100%;
          }
        }
      }
    }
    .grid-show{
      .list-item{
        width: 100%;
        height: auto;
        .list-img {
          width: 100%;
          height: 250px;
        }
        .list-content{
          padding: 20px 10px 0;
        }
      }
    }
  }
  .list-with-filter{
    margin-#{$end-direction}:0 !important;
    margin-#{$start-direction}:0 !important;
    width: 100% !important;
  }
/*
---------- events inner ---------------
*/
.events-inner{
  .news-inner-card{
    .more-details{
      margin-bottom: 20px !important;
    }
    .action-btns{
      margin-bottom: 30px !important;
      .btn{
        font-size: 14px !important;
        margin-#{$end-direction}: 15px !important;
        padding-#{$start-direction}: 8px !important;
        padding-#{$end-direction}: 8px !important;
        &:last-child{
        margin-#{$end-direction}: 0 !important;
        }
        &.btn-pdf{
          img{
            width: 20px !important;
            margin-#{$end-direction}: 5px !important;

          }
        }
      }
    }

    .gallery-box{
      margin-bottom: 30px;
    }
    .speakers {
      padding-top: 10px ;
      padding-bottom: 80px ;
      h3 {
        font-size: 30px ;
        margin-bottom: 25px ;
      }
    }
    .organizer {
    padding-top: 30px;
    padding-bottom: 50px;
    h3 {
      font-size: 30px ;
      margin-bottom: 25px ;
      }
    }
    .sponsors {
      padding-top: 30px;
      padding-bottom: 50px;
      h3 {
        font-size: 30px ;
        margin-bottom: 25px ;
        }
      }
  }
}
  /*
  ---------------- filter for small screens ---------------
  */
  #filterAccordion{
    .collapsed-item.parent{
      width: auto;
      height: 40px;
      padding: 0 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F3F6FB;
      border: 1px solid #CFD3D8;
      margin-#{$end-direction}: 20px;
      .collapsed-item-head{
        a{
          font-size: 18px;
          font-weight: $w-bold;
          color: $black-color;
          .filter-img{
            margin-#{$end-direction}:10px ;
          }
          .filter-arrow{
            margin-#{$start-direction}:30px ;
          }
        }
      }
      #filter{
        position: absolute;
        z-index: 99;
        background-color: #fff;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        .list-filter{
          width: 100%;
          padding-#{$end-direction}: 0;
          margin-#{$end-direction}: 0;
          border-#{$end-direction}: 0;
          position: relative;
          display: table ;
          .filter-head {
             margin-bottom: 0; 
            padding-bottom: 20px;
        }
          .collapsed-item-content {
            .form-group {
              input{
                &:first-child{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
    /*
  ------- projects list --------
  */
  .projects-highlight{
    &::before{
      background-position: center top;
      background-size: 855px;
    }
       .trade-box {
        padding-#{$end-direction}: 0;
        padding-top: 510px;
        .header {
          span{
            font-size: 35px;
          }
          p {
            margin-top: 15px;
            font-size: 16px;
            line-height: 24px;
          }
        }
        #trade-content > p{
          margin-bottom: 36px;
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
    .projects-management{
      padding-top: 40px;
      .flat-nav {
        .nav-item{
          margin-#{$end-direction}: 21px;
          &:last-child{
          margin-#{$end-direction}: 0px;
          }
          .nav-link {
            padding: 10px 6px;
        }
        }
      }
      .tab-content{
        .tab-pane.statistics{
          padding-top: 20px;
        }
      } 
      .total-status{
        margin-bottom: 35px;
        .status{
          margin-#{$end-direction}: 40px;
          span{
            font-size: 16px;
            img{
              margin-#{$end-direction}: 9px;
            }
          }
        }
      }
      .grid-show{
        .project-item {
          .content{
            h4{
              font-size: 18px !important;
              line-height: 24px !important;
              height: calc(24px * 2) !important;
              margin-bottom: 15px !important;
            }
          
          }
        }
      }
  }

  .multimedia-inner{
    .main-media{
      .content{
        h3 {
          font-size: 35px !important;
          margin-bottom: 20px !important;
        }
        p{
          line-height: 24px !important;
        }
      }
    }
  }
  .multimedia{
    .list-card{
      .top-filter{
        .right-filter{
          flex-flow: wrap;
          #filterAccordion{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  
  /*
--------- projects inner ---------
*/

.project-tabs{
  > .container {
    padding-left: 0;
    padding-right: 0;
  }
  #project-tab{
    // padding-#{$start-direction}:20px ;
    // padding-#{$end-direction}:20px ;
    .nav-item{
      .nav-link{
        padding-top: 15px;
        padding-bottom: 11px;
      }
    }
  }
  .tab-content {
    padding-top: 20px;
    padding-#{$start-direction}:15px ;
    padding-#{$end-direction}:15px ;
    .title{
      font-size: 25px;
      img {
        margin-right: 15px;
        vertical-align: bottom;
        width: 40px;
      }
    }
    .content {
      padding-#{$start-direction}:62px ;
      padding-#{$end-direction}:35px ;
      #trade-content{
        p {
          line-height: 28px;
          font-size: 14px;
        }
      }
      .custom-list{
        margin-top: 20px;
        ol{
          li{
            font-size: 14px;
            margin-bottom: 20px;
            &::before{
              margin-#{$end-direction}: 10px;
              width: 25px;
              height: 25px;
              vertical-align: middle;
              line-height: 24px;
              font-size: 12px;
            }
          }
        }
        ul{
          li{
              padding: 0;
              font-size: 14px;
              margin-bottom: 20px;
          
          }
        }
      }
      p{
        font-size: 14px;
      }
    }
  }
}
.contact-info{
  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title{
    font-size: 25px;
    img {
      margin-right: 15px;
      vertical-align: bottom;
      width: 40px;
    }
  }
  .content{
      padding-#{$start-direction}:62px ;
      padding-#{$end-direction}:35px ;
      ul{
        li{
            font-size: 16px;
        
        }
      }
  }
}
.related-imgs-slider .slider-wrapper .actions .navigations{
  display: none !important;
}
.project-basic-details{
  .basic-card{
    h3 {
      font-size: 25px;
      margin-bottom: 35px;
      }
    .title {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .value {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}
}


// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .side-border {
    border: none;
  }
  .navbar .dropdown-menu {
    &.show {
      text-align: center;
      padding-bottom: 0;
      background-color: rgba(238, 238, 238, 0.5) !important;
    }
    ul.nav {
      margin-bottom: 15px;
    }
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 540px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 540px + 30px) / 2);
    bottom: 20px;
    .scroll-down{
      display: none;
    }
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 40px;
  }
  .navigator {
    display: none;
    li {
      ::after {
        bottom: 9px;
      }
      a {
        font-size: 0 !important;
      }
    }
  }
  /*
  --------------- multimedia-inner ---------------
  */
  .multimedia-inner{
    .main-media{
      .content{
        h3 {
          font-size: 25px !important;
        }
        p{
          font-size: 14px !important;
          margin-bottom: 12px;
        }
        .content div.count {
          font-size: 14px !important;
          line-height: 24px !important;
          margin-bottom: 20px !important;
      }
      }
    }
    .media-list{

      .two-in-row{
        flex-direction: column;
      }
      .three-in-row{
        flex-direction: column;
        
      }
      .one-in-row{
        flex-direction: column;
        
      }
      .media-item{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        margin-#{$start-direction}: 0px !important;
        margin-#{$end-direction}: 0px !important;
        width: 100% !important;
        height: auto !important;
        max-height: 260px !important;
        .gallery-box{
          a{
            img{
              width: 100% !important;
              height: 100% !important;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  /*
  ------------ multimedia -------------
  */
  .multimedia {
    .list-card {
      .list-with-filter.grid-show {
        :nth-child(3n + 0).list-item {
          margin-#{$end-direction}: 0 !important;
        }
        .list-item{
          width: calc(100% );
          margin-#{$end-direction}: 0;
        }
      }
    }
  }

  /*
--------- projects inner ---------
*/
// .contact-info{
//   > .container {
//     padding-left: 0;
//     padding-right: 0;
//   }
  
// }

}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  .main-navbar .nav-wrapper .top-nav {
    .navbar-nav{
      .nav-item{
        display: none;
        &:nth-of-type(4){
          display: block;
          position: absolute;
          right: 65px;
          top: 32px;
          a.lang{
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: 15px;
    bottom: 10px;
    top: auto;
    display: flex;
    margin-bottom: 0;
    li{
      margin-bottom: 0;
      font-size: 20px;
      margin-#{$end-direction}: 5px;
      &:last-of-type{
      margin-#{$end-direction}: 0;
      }
    }
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: 15px;
  }
  .in-focus .slider-wrapper .owl-carousel::before {
    display: none;
  }
  .fixed-social{
    display: none;
  }

/*
-------------------- header -------------------
*/
  .main-navbar {
    min-height: 95px;
    #navbarSupportedContent {
      top: 94px;
      > .navbar-nav {
        > .nav-item {
          width: 100%;
          #navbarDropdown{
            width: 100%;
            padding: 20px 15px;
            // padding-#{$start-direction}: 15px;
            font-size: 14px;
            &::before{
              width: 35%;
              #{$start-direction}: 15px;
            }
            &::after{
              #{$end-direction}: 16px;
              position: absolute;
              top: 27px;
            }
          }
          &.d-block{
            .form-group{
              margin-bottom: 0;
              padding: 0 15px;
              .form-control{
                border: 1px solid #D6DADF;
                border-radius: 0;
                font-size: 14px;
                font-weight: $w-medium;
                padding-#{$end-direction}: 26px;
              }
              .btn{
                position: absolute;
                top: -2px;
                #{$end-direction}: 10px;
              }
            }
          }
        }
      }
    }
    .navbar-brand {
     padding: 0;
     img{
       width: 142px;
     }
    }
    .navbar-toggler {
      #{$end-direction}: 0px;
      top: 30px !important;
      border-radius: 2px;
      width: 44px;
      height: 36px;
      padding: 0;
    }
    // .nav-wrapper {
    //   flex-grow: 1;
    //   width: auto;
    //   align-self: flex-start;
    //   margin-top: 20px;
    //   .top-nav {
    //     margin-top: 0;
    //     .nav-item {
    //       margin-#{$start-direction}: auto;
    //     }
    //   }
    // }
  }
  .navbar .dropdown-menu {
    padding-top: 20px !important;
    border-top: 0 !important;
    &.show {
      text-align: #{$start-direction};
      background-color: #F3F6FB !important;
      box-shadow: none !important;
    }
    ul.nav {
      // border-bottom: 1px solid #DFDFDF;
      .nav-item{
        .nav-link{
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
    h6{
      margin-bottom: 7px !important
    }
    p{
      font-size: 13px !important;
      line-height: 24px !important;
    }
  }
  .pl-30 {
    padding-#{$start-direction}: 15px !important;
}
/*
------------------------- footer------------------------
*/
footer {
  .subscription{
    label {
      font-size: 16px;
      margin-bottom: 15px;
  }
  .form-group{
    .form-control{
      padding-#{$end-direction}: 125px;
    }
    button[type="submit"]{
      width: 120px;
    }
    }
  }
  hr{
    margin-top: 0;
    margin-bottom: 35px;
  }
  .copySection{
    order: 2;
    background-color: #F3F6FB;
    .copy{
      margin-bottom: 30px;
      margin-top: 25px;
    }
  }
  .links{
    ul{
      display: block;
      li{
        display: inline-block;
        a{
          line-height: inherit;
        }
        &::after{
          top: 1px;
        }
      }
    }
  }
}

/*
---------- main breadcrumb -------
*/

.inner-heading {
  ol.breadcrumb{
    margin-bottom: 16px;
     li.breadcrumb-item{
      font-size: 14px;
     }
    }
    h1{
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 30px;
    }
  }
  /*
  top-social-share
  */
  .top-social-share{
    position: relative !important;
    #{$start-direction}: auto !important;
    top: auto !important;
    margin-bottom: 30px !important;
    justify-content: center;
    li{
      margin-#{$end-direction}: 13px;
      margin-#{$end-direction}: 2%;
    }
  }
/* ----- index ------- */

// main slider
  .main-header {
    height: 455px ;
    .slider-wrapper {
      .owl-carousel {
        .item {
          .caption {
            top: 105px;
            h2{
              font-size: 27px;
              line-height: 35px;
              .text-bg{
                &::before{
                  #{$start-direction}: -3px;
                  top: 1px;
                  width: calc(100% + 8px);
                  height: 35px;
                }
              }
            }
            p{
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 38px;
            }
            .learn-more{
              font-size: 14px;
              padding: 4px 10px;
              &::after{
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
  // main index page styles 
  a.show-all{
    display: none;
  }
  .heading{
    h2{
      font-size: 22px;
      line-height: inherit;
    }
    p{
      font-size: 14px;
    }
  }
  // in-focus
  .in-focus{
    .focus-card{ 
      h4{
        font-size: 20px;
        line-height: 24px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  // 
  .upcoming-events{
    .event-card{
      .content{
        font-size: 16px;
        line-height: 24px;
        .end-date{
          img{
            margin-#{$end-direction}: 10px;
          }
        }
      }
    }
  }
  // publications
  .publications{
    &::before{
      height: 1090px;
    }
    h2{
      font-size: 22px;
      text-align: center;
      line-height: inherit;
      margin-bottom: 23px;
    }
    .pub-card{
      height: 370px;
    }
    .actions{
      justify-content: center;
    }
  }
  // our-group
  .our-group {
    .heading{
      margin-bottom: 0;
    }
    .col{
    flex: 0 0 50%;
    max-width: 50%;
    }
  } 

  // what is itfc
  // about section
  .about-itfc{
    height: auto;
    padding-bottom: 0;
    background-image: url($img-path + "what-is-itfc-xs.svg");
    div.header{
      margin-bottom: 25px;
      .itfc{
        font-size: 35px;
      }
      .desc{
        font-size: 22px;
      line-height: 36px;
      }
    }
    p {
      font-size: 14px !important;
      line-height: 24px !important;
    }
    .trade-box #trade-content.collapsed::after{
      width: 110%;
    }
     .trade-box #trade-content.collapsed {
       max-height: 285px; 
  }
  }
  // vision section
  .vision{
    padding-top: 35px;
    padding-bottom: 10px;
    .vision-box{
      padding-top: 52px;
      padding-bottom: 0px;
      ul{
        li{
          h2{
            font-size: 35px;
            line-height: 48px;
          }
          p{
            font-size: 20px;
            line-height: 30px;
            margin-#{$end-direction}: 41px;
          }
        }
      }
    }
  }
  // in-numbers section
  .in-numbers{
    background-image: url($img-path + "in-numbers-xs.svg");
    background-position: center 75px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 80px;
    .header{
      font-size: 22px;
      margin-bottom: 17px;
    }
    .owl-carousel {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .owl-nav{
      top: calc(100% + 15px);
      left: 50%;
      right: auto;
      position: absolute;
      z-index: 99;
      display: block;
      button{
        display: inline-block !important;
        width: 48px;
        height: 48px;
        background-color: #fff !important;
        border: 1px solid #ded4d0 !important;
        border-radius: 50% !important;
        // background-position: center center !important;
        // background-repeat: no-repeat !important;
        position: absolute;
        span{
          display: none;
        }
        &.owl-next {
          background: url($img-path + "next-sm-arrow.svg") !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          // margin-left: 15px;
          // #{$end-direction}: -70px;
        }
        &.owl-prev {
          background: url($img-path + "prev-sm-arrow.svg") !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          margin-left: 15px;
          #{$start-direction}: -70px;
        }
      }
    }
  }
  // single-media section
  .single-media{
    padding-top: 40px;
    padding-bottom: 50px;
    .header{
      margin-bottom: 16px;
      h2{
        font-size: 22px;
        line-height: 28px;
      }
      p{
        font-size: 14px;
        line-height: 24px;
      }
    }
    .video-box {
      height: 237px;
    }
    cite {
      font-size: 12px;
      padding: 0 10px;
      line-height: 22px;
    }
  }

  /*
  -------- regional hubs --------
  */

  .main-hub{
    background-position: 250px;
    height: auto;
    padding-bottom: 20px;
    .hub-content{
      h2{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 25px;
      }
      p{
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 30px;
      }
      h4{
        font-size: 18px;
        line-height: inherit;
      }
      ul{
        li{
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;      
        }
      }
    }
  }
  .regional-hubs{
  
    .hub-card{
      padding: 15px 15px 30px;
      .img-box{
        width: 202px;
        height: 160px;
      }
    }
  }

  /*related items*/
  .related-items{
    ul.nav{
      margin-bottom: 30px;
      .nav-item{
        .nav-link{
          padding: 17px 15px;
        }
      }
    }
    
      .publication-items {
        padding: 0;
      }
    
  }
    /*
  -------------- news inner page ---------------
  */
  .news-inner-section{
    .size-changes {
      // order: 1;
      // padding-#{$start-direction}: 30px;
      .card-1{
        margin-bottom: 20px;
        h4 {
          font-size: 16px;
          margin-bottom: 13px;
        }
        ul {
          li{
            margin-bottom: 10px;
            a{
              font-size: 14px;
            }
          }
        }
      } 
    }
    .news-inner-card{
      padding-top: 30px;
      margin-bottom: 0;
      .left-news-section {
        padding-#{$start-direction}: 15px;
        padding-#{$end-direction}: 15px;
        h2{
          font-size: 22px;
          line-height: 30px;
        }
        div.date{
          font-size: 11px;
        }
        p{
          line-height: 24px;
          margin-bottom: 20px;
        }
       
        div.gallery-box{
          a{
            height: 250px;
          }
        }
      }
      p.details {
        line-height: 24px;
        padding: 25px 20px 0;
      }
    }
  }

  .reg-font-size .fontSizeWillChange{
    font-size: 14px;
  }
  .large-font-size .fontSizeWillChange {
    font-size: 16px !important;
  }
  .Xlarge-font-size .fontSizeWillChange {
    font-size: 18px !important;
  }
  .XXlarge-font-size .fontSizeWillChange {
    font-size: 20px !important;
  }


/*news-list*/
  .news-list-section{
    .list-card{
      padding: 20px 15px;
    }
    .top-filter{
      .left-filter{
        .form-group{
          max-width: 100%;
          width: 100%;
          .form-control{
            width: 100%;
          }
        }
      }
      &::after{
        #{$start-direction}: 0;
        width: 100%;
      }
    }
  }
  // events-list-section
  .events-list-section {
    .top-filter {
      .left-filter {
        .nav.nav-pills {
          .nav-item {
            .nav-link{
              padding: 10px 9px;
              font-size: 14px;
            } 
          }
        }
      }
      // .right-filter {
      //   .dropdown {
      //     .btn-sort{
      //       margin-top: 5px;
      //     }
      //   }
      // }
    }
   
  }
  /* ---- pagination ---- */
  .pagination-section {
    .pagination{
      a {
        padding: 5px;
        font-size: 14px;
        margin: 0 2px;
        width: 32px;
        height: 32px;
      }
    }
  }
  .pageCount{

    label {
      font-size: 14px;
      margin-#{$end-direction}: 10px;
      margin-bottom: 0;
    }
    select{
      width: auto !important;
      height: 32px;
      padding: 4px;
      padding-#{$end-direction}: 15px;
      font-size: 14px;
      background-size: 11px;
      background-position-x: 90%;
      background-position-y: 12px;
    }
  }


      /*
  ------- projects list --------
  */
  .projects-highlight{
    padding-top: 28px;
    &::before{
      background-image: url($img-path + "projects-xs-bg.svg");
      background-position: center top;
      background-size: inherit;
    }
       .trade-box {
        padding-top: 340px;
      
        .header {
          span{
            font-size: 22px;
          }
        }
      }
    }
    .projects-management{
      .total-status{
        flex-direction: column;
        margin-bottom: 25px;
        .status{
          margin-#{$end-direction}: 0;
          margin-bottom: 10px;
        }
      }
    .white-card{
      padding-top: 15px;
      padding-bottom: 25px;
      padding-#{$end-direction}: 10px;
      padding-#{$start-direction}: 15px;
       h5 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 25px;
      }
      h6{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 25px;
      }
      .end-title{
        font-size: 16px;
      }
      .filter {
        justify-content: center;
        .form-group {
          label{
            font-size: 14px;
          }
          .nice-select {
            font-size: 14px;
            padding-#{$end-direction}: 20px;
            padding-#{$start-direction}: 5px;
            &::after{
            #{$end-direction}: 3px
            }
          }
        }
      }
    }
  }
  #chartjs-percentage{
    width: auto;
    margin-#{$start-direction}: 15px;
    margin-top: 15px;
    div{
      font-size: 21px !important;
    }
  }
  #chartjs-percentage-white {
    margin-top: 10px;
    div{
      font-size: 21px;
    }
  }
  /*
---------- events inner ---------------
*/
.events-inner{
  .news-inner-card{
    .action-btns{
      display: flex;
      flex-direction: column;
      .btn{
        margin-bottom: 5px;
        margin-#{$end-direction}: 0 !important;
        }
      }
    }
  }
  /*
  -------------- multimedia ----------
  */
  .multimedia{
    .list-card{
      .top-filter{
        .right-filter{
          ul.nav-pills{
            .nav-item {
              .nav-link{
                padding: 10px 7px;
              }
            }
          }
        }
      }
    }
  }
}




@media (max-width: 449.97px) {
  .events-inner{
    .speakers {
      .owl-carousel{
        .owl-item {
          .main-sec{
            height: 330px !important;
            width: 100% !important;
            .slider-image{
              width: 100% !important;
              height: 275px !important;
              img{
                object-fit: cover !important;
              }
            }
          }
        }
      }
    }
    .organizer , .sponsors {
      .owl-carousel{
        .owl-item {
          .main-sec{
            // height: 330px !important;
            width: 100% !important;
            // .slider-image{
            //   width: 100% !important;
            //   height: 275px !important;
            //   img{
            //     object-fit: cover !important;
            //   }
            // }
          }
        }
      }
    }
  }
  
  #filterAccordion{
    .parent{
      .collapsed-item-head{
        a{
          .filter-img{
            margin-#{$end-direction}: 5px !important;
          }
          .filter-arrow{
            margin-#{$start-direction}: 5px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 369.97px) {
  .multimedia{
    .list-card{
      .top-filter{
        .right-filter{
          ul.nav-pills{
            .nav-item {
              .nav-link{
                padding: 10px 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
      .grid-show {
        .list-item {
          .multimedia-content {
            h4{
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}