@media (max-width :1399.98px) {
    /* contact us */
    .hub-cards .hub-items .content-box h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .hub-cards .hub-items .content-box p {
        font-size: 14px;
    }
    .hub-cards .hub-items .content-box .contact-info ul li{
        font-size: 14px;
    }
    .hub-cards .hub-items .content-box .contact-info ul li span{
        font-size: 16px;
    }
    .hub-cards .hub-items .content-box .contact-info ul li a{
        font-size: 16px
    }
}

@media (max-width :1199.98px) {
    /* board-members  */
    .main-contact-us::before{
        background-position: 500px;
    }

    
    /* Syndication */
    .itfc-trade .trade-box .header {
        padding-top: 5px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
    .itfc-trade .trade-box .header span {
        font-size: 40px;
        line-height: 30px

    }
    .itfc-trade .trade-box .header p {
        margin-top: 10px;
        font-size: 22px;
        line-height: 28px;
    }
    .itfc-trade .trade-box #trade-content > p {
        margin-bottom: 15px;
        line-height: 28px;
        font-size: 16px;
        font-weight: 500;
    }
}
@media (max-width :991.98px) {
    /* main  */
    .inner-heading ol.breadcrumb{
        margin-bottom: 10px;
    }
    .inner-heading h1{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .related-items .header h2 {
        font-size: 32px;
        line-height: 28px;
    }


    /* board Members page */
    .board-members .main-member-card .img-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .board-members .main-member-card .content-box h2 {
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .board-members .main-member-card .content-box span {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .board-members .main-member-card .content-box p {
        font-size: 16px;
        line-height: 24px;
    }
    .board-members .member-card {
        margin-bottom: 15px;
    }
    .board-members .member-card .img-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .board-members .member-card .content-box{
        padding: 0 7px;
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .board-members .member-card .content-box h4{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .board-members .member-card .content-box span{
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 24px;
        padding: 0 15px;
    }


    /* board-members  */
    /* .main-contact-us::before{
        background-position: 500px;
    } */
    .main-contact-us-heading {
        margin-bottom: 25px;
    }
    .main-contact-us-heading h2 {
        font-size: 25px;
        line-height: 28px;
    }
    .main-contact-us-heading p {
        font-size: 16px;
    }
    .main-contact-us .contact-form {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .main-contact-us .contact-form h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .main-contact-us .main-contact-form label {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .main-contact-us .main-contact-form .form-group {
        margin-bottom: 10px;
    }
    .main-contact-us .main-contact-form .btn {
        margin-top: 25px;
        font-size: 14px;
        padding: 10px 30px;
    }
    .hub-cards .mb-38 {
        margin-bottom: 15px;
    }

/* Syndication */
    .itfc-globe {
        background-position: -340px;
    }
    .globe-item .globe-item-header h5 button{
        font-size: 32px;
    }
    .globe-item .globe-item-body {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 25px;
    }
    .single-media-2 .header {
        margin-bottom: 25px;
    }
    .single-media-2 .header span{
        font-size: 35px;
        line-height: 30px;
    }
    .single-media-2 .header p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 10px;
    }
    .single-media-2 .video-box {
        height: 450px;
    }

}

@media (max-width: 767.98px){
    .main-navbar .navbar .navbar-brand img{
        max-width: 150px;
    }
    .main-navbar .top-nav .nav-item .nav-link {
        font-size: 10px;
    }
    /* board-members  */
    .board-members  .main-member-card {
        margin-bottom: 25px;
    }
    .board-members .main-member-card .content-box h2{
        margin-top: 15px;
    }
    .related-items .header h2 {
        font-size: 25px;
        line-height: 24px;
    }
    .related-items ul.nav li a {
        padding: 20px 30px 20px;
        font-size: 16px;
    }
    .related-item h4 {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .related-items ul.nav {
        margin-bottom: 30px;
    }
    .related-items {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
    /* contact us */
    .main-contact-us .inner-heading h1 {
        margin-bottom: 20px;
    }
    .hub-cards .hub-items .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main-contact-us-heading h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .main-contact-us-heading p {
        font-size: 14px;
        line-height: 24px;
    }
    .hub-cards .hub-items .content-box h2 {
        font-size: 16px;
    }
    .hub-cards .hub-items .content-box .reach-us {
        margin-bottom: 5px;
    }
    .hub-cards .hub-items .content-box .contact-info p {
        margin-bottom: 5px;
    }
    .hub-cards .hub-items .content-box .contact-info ul li span {
        font-size: 14px;
    }
    .hub-cards .hub-items .content-box .contact-info ul li a{
        font-size: 14px;
    }
    .main-contact-us .hub-cards .hub-items {
        height: auto;
    }
    .hub-cards .hub-items .content-box {
        padding-bottom: 10px;
    }
    .main-contact-us .main-contact-form .form-control{
        height: auto;
    }
    .main-contact-us .main-contact-form .form-group input, .main-contact-us .main-contact-form .form-group select {
        padding: 3px 12px !important;
    }
    .main-contact-us .main-contact-form .form-group select {
        background-position-y: 15px;
    }

    .itfc-trade .trade-box .header {
        padding-right: 0px;
    }
    .itfc-trade .trade-box .header span {
        font-size: 25px;
        line-height: 24px;
    }
    .itfc-trade .trade-box .header p {
        font-size: 16px;
        line-height: 24px;
    }
    .itfc-trade .trade-box #trade-content > p {
        margin-bottom: 15px;
        line-height: 24px;
        font-size: 14px;
    }
    .globe-item .globe-item-header h5 button {
        font-size: 25px;
    }
    .globe-item .globe-item-header h5 button::after{
        top: 15px;
    }
    .globe-item .globe-item-body {
        font-size: 14px;
        line-height: 24px;
    }
    .single-media-2 .header span {
        font-size: 25px;
        line-height: 24px;
    }
    .single-media-2 .header p {
        font-size: 14px;
        line-height: 24px;
    }
    .single-media-2 {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    
}

@media (max-width: 575.98px){
    /* main */
    .inner-heading ol.breadcrumb li.breadcrumb-item{
        font-size: 14px;
    }
    .inner-heading ol.breadcrumb li.breadcrumb-item + li.breadcrumb-item::before{
        margin: 5px 2px 5px 9px;
    }
    .inner-heading h1 {
        font-size: 25px;
    }
    .main-contact-us-heading p a{
        display: inline-block;
    }
    footer label {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    footer .subscription .form-group button[type="submit"]{
        width: 110px;
        font-size: 12px;
    }
    .subscription .form-group .form-control {
        font-size: 12px;
        padding-right: 110px;
    }
    .follow-us .social{
        margin-bottom: 0;
    }
    footer .copy{
        font-size: 12px;
        line-height: 24px;
    }
    footer .links ul li a {
        font-size: 12px;
        line-height: 24px;
    }
    footer .links ul li {
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
    }
    footer .links ul li::after {
        left: -9px;
    }
    footer hr {
        margin-top: 5px;
        margin-bottom: 10px;
    }

/* Syndication */

    .trade-box .img-box {
        height: 280px;
    }
    .itfc-trade {
        position: relative;
        padding-top: 37px;
        padding-bottom: 25px;
    }
    .itfc-trade .inner-heading h1 {
        margin-bottom: 25px;
    }
    .trade-box {
        padding: 24px 17px;
    }
    .itfc-globe {
        background-position: -450px;
    }
}