.MurabahaCalss::before,
.TreasuryDealing::before {
  content: "";
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.2)),
      to(rgba(0, 0, 0, 0.2))
    ),
    url(../images/TreasuryDealing/bgSection.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/TreasuryDealing/bgSection.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
}
.MurabahaCalss::before {
  background-image: url(../images/NewMurabaha/BGMurabaha.svg.jpg);
}
.MurabahaCalss .trade-box .img-box2,
.TreasuryDealing .trade-box .img-box2 {
  height: 387px;
  margin-bottom: 48px;
  padding: 0;
}
.MurabahaCalss .trade-box .img-box2 .img-wrapper,
.TreasuryDealing .trade-box .img-box2 .img-wrapper {
  padding-top: 0;
  background-color: #76b3cf;
}
.MurabahaCalss .trade-box .img-box2::after,
.TreasuryDealing .trade-box .img-box2::after {
  content: none;
}
.MurabahaCalss .trade-box .header,
.TreasuryDealing .trade-box .header {
  padding: 0;
  margin-bottom: 0;
}
.MurabahaCalss .trade-box .header .headingTitle,
.TreasuryDealing .trade-box .header .headingTitle {
  font-size: 40px;
  line-height: 60px;
  font-family: "Roboto";
  font-weight: 900;
  color: #1d1d1b;
}
.MurabahaCalss .trade-box .header .headingTitle span,
.TreasuryDealing .trade-box .header .headingTitle span {
  color: #ef7e25;
  font-size: 40px;
}

.MurabahaCalss .trade-box .header p,
.TreasuryDealing .trade-box .header p {
  color: #1d1d1b;
  margin-top: 10px;
  line-height: 2;
  font-size: 18px;
  /* height: 220px; */
  overflow: hidden;
}

.MurabahaCalss .trade-box .img-box2 {
  margin-bottom: 64px;
}
.MurabahaCalss .trade-box .header > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 84px;
}
.MurabahaCalss .trade-box .header > span img {
  max-width: 100%;
}
.MurabahaCalss .trade-box .row:not(:first-of-type):nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.MurabahaCalss .trade-box .row:not(:first-of-type) .headingTitle {
  font-size: 35px;
  font-weight: 500;
}
.MurabahaCalss:not(.MurabahaFinancing) .trade-box .row:first-of-type {
  padding-bottom: 140px;
}
.customAccordion .card {
  border: unset;
  margin-bottom: 24px;
  background-color: #f8f8f8;
}

.customAccordion .card .card-header {
  padding: 0;
  background-color: #f8f8f8;
  border: unset;
}

.customAccordion .card .card-header h2 button {
  font-size: 24px;
  font-family: "montserrat";
  color: #ef7e25;
  font-weight: 700;
  padding: 26px 24px;
  text-align: left;
  text-decoration: unset;
  position: relative;
}

.customAccordion .card .card-header h2 button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 13px;
  background-image: url(../images/TreasuryDealing/arrowD.svg);
  -webkit-filter: invert(52%) sepia(90%) saturate(592%) hue-rotate(342deg)
    brightness(95%) contrast(96%);
  filter: invert(52%) sepia(90%) saturate(592%) hue-rotate(342deg)
    brightness(95%) contrast(96%);
  background-repeat: no-repeat;
  right: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 38px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.customAccordion .card .card-header h2 button:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.customAccordion .card .card-header h2 button.collapsed {
  color: #000000;
}

.customAccordion .card .card-header h2 button.collapsed::after {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.customAccordion .card .card-body {
  padding-top: 10px;
  padding-bottom: 8px;
}

.customAccordion .card .card-body .textBox h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  font-family: "montserrat";
}

.customAccordion .card .card-body .textBox ul {
  padding-left: 25px;
}

.customAccordion .card .card-body .textBox ul li p {
  color: #646464;
  font-weight: 400;
  font-family: "montserrat";
  font-size: 14px;
  margin-bottom: 12px;
}

.customAccordion .card .card-body .textBox ul li::marker {
  color: #ef7e25;
}

.TreasuryProducts {
  background-color: #f3f6fb;
  padding: 48px 0;
  margin-bottom: 120px;
}

.TreasuryProducts h2 {
  font-size: 35px;
  font-family: "montserrat";
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;
}

.TreasuryProducts .col-md-12 p {
  font-size: 16px;
  font-family: "montserrat";
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
}

.TreasuryProducts .TPbox {
  margin-bottom: 30px;
}

.TreasuryProducts .TPbox .TPicon img {
  max-width: 100%;
}

.TreasuryProducts .TPbox .TPtext p {
  color: #707070;
  font-weight: 500;
  font-family: "montserrat";
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 7px;
}

/* start Murabaha Financing  */
.MurabahaFinancing .trade-box,
.MurabahaFinancing {
  padding-bottom: 0;
}
.MurabahaCalss.MurabahaFinancing .trade-box .img-box2 {
  margin-bottom: 0;
}
.MurabahaCalss.MurabahaFinancing .trade-box .header span {
  color: #d5313a;
}
.project-tabs.MurabahaFinancing {
  padding-top: 48px;
}

.project-tabs.MurabahaFinancing .rounded-tabs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.project-tabs.MurabahaFinancing .rounded-tabs li.nav-item a.nav-link.active {
  color: #d5313a;
}
.project-tabs.MurabahaFinancing .tab-content .content {
  padding-left: 115px;
}
.project-tabs.MurabahaFinancing .tab-content .content .custom-list {
  margin-top: 20px;
}
.project-tabs.MurabahaFinancing .tab-content .content .custom-list .titleTabs {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #1d1d1b;
  margin-bottom: 20px;
}
.project-tabs.MurabahaFinancing .custom-list ul li {
  color: #707070;
  font-size: 16px;
}
.project-tabs.MurabahaFinancing .custom-list ul li::before {
  width: 8px;
  height: 8px;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.project-tabs.MurabahaFinancing .tab-content > .fade {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  transition: all 0.4s !important;
}
.project-tabs.MurabahaFinancing .tab-content > .show {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
/* End Murabaha Financing */

/* Start Our Partners */
.Partnerships {
  padding-bottom: 50px;
}
.itfc-trade.Partnerships::before {
  background-image: url(../images/NewOurPartners/sectionBG2.jpg);
}
.Partnerships .inner-heading h1 span {
  color: #cd2233;
}
.Partnerships .trade-box {
  padding: 0;
  background-color: transparent;
}
.Partnerships .header {
  padding-top: 20px;
}
.Partnerships .header .headingTitle span,
.Partnerships .header .headingTitle {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 900;
  line-height: 1.5;
  color: #1d1d1b;
}
.Partnerships .header .headingTitle span {
  color: #cd2233;
  padding-right: 10px;
  margin-bottom: 0;
}
.Partnerships .trade-box .header p {
  margin-top: 48px;
  font-size: 18px;
  color: #1d1d1b;
}
.Partnerships .trade-box .header p span {
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #cd2233;
}
.project-tabs.PartnershipsTabs .rounded-tabs {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.project-tabs.PartnershipsTabs > .container {
  padding-left: 0;
  padding-right: 0;
}
.project-tabs.PartnershipsTabs .tab-content {
  padding-top: 47px;
  padding-left: 0;
  padding-right: 0;
}
.PartnershipsB {
  padding-bottom: 120px;
}
.PartnershipsB .PRbox {
  height: 100%;
}
.PartnershipsB .col-md-6 {
  margin-bottom: 24px;
}
.PartnershipsB .PRbox .PRlogo {
  height: 180px;
  background-color: #f3f6fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.PartnershipsB .PRbox .PRlogo img {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.PartnershipsB .PRtext {
  /* max-height: 125px; */
  overflow: hidden;
  height: calc(100% - 180px);
  border: 1px solid #f3f6fb;
  min-height: 125px;
}
.PartnershipsB .PRtext p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  padding: 24px;
  margin: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.PartnershipsB .PRbox:hover .PRtext p {
  color: #d5313a;
}
.PartnershipsB .PRbox:hover .PRlogo img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
/* End Our Partners */

/* Start Strategy page */
.StrategyClass {
  padding-bottom: 0;
}
.StrategyClass .trade-box .row:first-of-type {
  padding-bottom: 100px !important;
}
.StrategyClass .trade-box,
.StrategyClass .trade-box .img-box2 {
  margin-bottom: 0px;
  padding-bottom: 0;
}
.StrategyClass::before {
  background-image: url(../images/NewStrategy/StrategyBG.jpg);
}
.StrategyClass .headingTitle span,
.StrategyClass .inner-heading h1 span {
  color: #d5313a !important;
}
.StrategyWrapper {
  padding: 100px 0 40px;
}
.StrategyWrapper.StrategyObjectives {
  padding-top: 0;
}
.StrategyWrapper .headSection {
  text-align: center;
}
.StrategyWrapper .headSection h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}
.StrategyObjectives .headSection h2 {
  color: #ef7e25 !important;
}
.StrategyWrapper .headSection p {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 36px;
}
.StrategyWrapper .StrategyBox {
  padding: 12px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 270px;
  overflow: hidden;
}

.StrategyWrapper .StrategyBox .SIcon img {
  max-width: 60px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.StrategyWrapper .StrategyBox .SText {
}
.StrategyWrapper .StrategyBox .SText .STitle {
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0;
  color: #000000;
  font-weight: 600;
}
.StrategyWrapper .StrategyBox .SText .hiddenP {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 0;
  height: 55px;
  overflow: hidden;
}
.StrategyWrapper .StrategyBox:hover {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.StrategyWrapper .StrategyBox:hover .SIcon img {
  max-width: 40px;
}
.StrategyWrapper .StrategyBox:hover .SText .hiddenP {
  height: 220px;
}
.StrategyPillars {
  background-color: #f3f6fb;
}
.StrategyPillars .StrategyBox {
  height: 250px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.StrategyWrapper .headSection h2 {
  color: #ad5480;
}
.StrategyPillars .StrategyBox:hover {
  background-color: #fff;
}
.StrategyPillars .StrategyBox:hover .SText .hiddenP {
  height: 135px;
}
.StrategyPrinciples .headSection h2 {
  color: #c2b263;
}
.StrategyPrinciples .StrategyBox {
  margin-bottom: 40px;
  height: 200px;
}
.StrategyPrinciples .StrategyBox:hover .SText .hiddenP {
  height: 82px;
}
.Critical {
  background-color: #f3f6fb;
}
.Critical .headSection h2 {
  color: #c2005d;
}
.Critical .headSection p {
  margin-bottom: 55px;
}
.Critical .CrBox {
  text-align: center;
}
.Critical .icon img {
  max-width: 80px;
  margin-bottom: 27px;
}
.Critical .text p {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  min-height: 44px;
}
.BeyondStatus {
  padding: 130px 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background:linear-gradient(0deg, rgba(213, 49, 58, 0.95), rgba(213, 49, 58, 0.95)), url(../images/NewStrategy/BeyondBG.jpg); */
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(153, 43, 49, 0.9)),
      to(rgba(153, 43, 49, 0.9))
    ),
    url(../images/NewStrategy/BeyondBG.jpg);
  background: -o-linear-gradient(
      bottom,
      rgba(153, 43, 49, 0.9),
      rgba(153, 43, 49, 0.9)
    ),
    url(../images/NewStrategy/BeyondBG.jpg);
  background: linear-gradient(
      0deg,
      rgba(153, 43, 49, 0.9),
      rgba(153, 43, 49, 0.9)
    ),
    url(../images/NewStrategy/BeyondBG.jpg);
}
.BeyondStatus .leftBS,
.BeyondStatus .rightBS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.BeyondStatus .leftBS {
  border-right: 4px solid #fff;
}
.BeyondStatus .leftBS p {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  line-height: 43px;
}
.BeyondStatus .leftBS p span {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  display: block;
}

.BeyondStatus .rightBS p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
  padding: 50px 0;
}
.COVIDImpact {
  padding: 100px 0;
}
.COVIDImpact .boxCI img {
  float: left;
  max-width: 600px;
  margin-right: 30px;
}
.COVIDImpact .boxCI h1 {
  font-size: 20px;
  font-weight: 600;
  color: #d5313a;
  margin-bottom: 24px;
  padding-top: 15px;
}
.COVIDImpact .boxCI p {
  font-size: 18px;
  font-weight: 500;
  color: #48494c;
  line-height: 36px;
}
/* end Strategy page */

/* start Salam Financing */
.SalamFinancing {
  padding-bottom: 120px;
}
.SalamFinancing::before {
  height: 810px;
  background-image: url(../images/NewMurabaha/salamBG.png);
  background-size: 100% 105%;
}
.SalamFinancing.MurabahaCalss:not(.MurabahaFinancing)
  .trade-box
  .row:first-of-type {
  padding-bottom: 80px;
}
/* end Salam Financing */

/* start StructuredTrade Finance */
.StructuredFinance::before {
  background-image: url(../images/NewStructuredTradeFinanceAndDocumentCollection/BG.jpg);
}
.StructuredFinance .row + .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-bottom: 75px;
}
.SFTwoBox {
  background-color: #f8f8f8;
  padding: 68px 32px;
  margin: 127px 0 67px;
}
.SFTwoBox .SFbox {
  background-color: #ffffff;
  padding: 24px;
  transition: 0.4s;
  min-height: 426px;
}
.SFTwoBox .SFbox .SFLogo img {
  max-width: 60px;
}
.SFTwoBox .SFbox .SFText h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin: 24px 0;
  transition: 0.4s;
}
.SFTwoBox .SFbox:hover {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.SFTwoBox .SFbox:hover h3 {
  color: #ef7e25;
}
.SFTwoBox .SFbox .SFText p {
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 0;
}
.titleAccordion {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 48px;
}
/* End StructuredTrade Finance */

/* Start LC Confirmation  */

.LCConfirmation::before {
  background-image: url(../images/NewTradeAndFinancialAndPolicy/bg2202.jpg);
}
.LCConfirmation .trade-box {
  padding: 25px 21px;
}
.LCConfirmation .pragh p {
  line-height: 2;
  font-size: 18px;
  color: #1d1d1b;
  font-weight: 600;
}
.LCConfirmation .trade-box .img-box2 {
  height: 404px;
}
.LCConfirmation:not(.MurabahaFinancing) .trade-box .row:first-of-type {
  padding-bottom: 0;
}
.LCConfirmation h2 {
  font-family: "montserrat";
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 24px;
}
.LCConfirmation h2 span {
  color: #fe9e36;
}
.solutionSection {
  margin: 50px 0 100px;
}

.BenefitSection .SolTitle,
.solutionSection .SolTitle {
  font-size: 31px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 31px;
  text-align: center;
  font-weight: bold;
}
.solutionSection .boxImg {
  height: 850px;
}
.solutionSection .boxImg img {
  max-width: 100%;
  padding: 0 15px;
}
.BenefitSection {
  background-color: #f3f6fb;
  padding: 133px 0 100px;
}
.BenefitSection .SolTitle {
  margin-bottom: 81px;
}
.BenefitSection .BenBox {
  margin-bottom: 35px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.BenefitSection .BenBox .Bimg {
  height: 205px;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.BenefitSection .BenBox .Bimg::before {
  position: absolute;
  content: "";
  /*background-color: #000000;
  */
  inset: 0;
  opacity: 0.3;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.BenefitSection .BenBox .Bimg img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.BenefitSection .BenBox .Btext {
  height: 157px;
  background-color: #fff;
  padding: 12px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.BenefitSection .BenBox .Btext p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.BenefitSection .BenBox:hover {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.BenefitSection .BenBox:hover .Bimg {
  height: 175px;
}
.BenefitSection .longText.BenBox:hover .Bimg {
  height: 140px;
}
.BenefitSection .BenBox:hover .Bimg::before {
  background-color: #000000;
}
.BenefitSection .BenBox:hover .Btext {
  height: 187px;
}
.BenefitSection .longText.BenBox:hover .Btext {
  height: 223px;
}

/* End LC Confirmation  */
/* start Financial Institution */
.FinancialClass {
  padding-bottom: 0px;
}
.FinancialClass::before {
  background-image: url(../images/NewTradeAndFinancialAndPolicy/nstitutionBG.svg);
}
.InformationPolicy .trade-box .img-box2,
.FinancialClass .trade-box .img-box2 {
  margin-bottom: 28px;
}
.InformationPolicy .trade-box .row:first-of-type,
.FinancialClass .trade-box .row:first-of-type {
  padding-bottom: 0px !important;
}
.InformationPolicy .pragh p,
.FinancialClass .pragh p {
  color: #1d1d1b;
  margin-top: 0px;
  line-height: 2;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.project-tabs.ColorOrange .rounded-tabs li.nav-item a.nav-link.active {
  color: #ef7e25;
  border-bottom: 3px solid #ef7e25;
}
.project-tabs.ColorOrange .custom-list ul li::before {
  background: #ef7e25;
  border: 2px solid #ef7e25;
  margin-top: 8px;
}
.project-tabs.ColorOrange .tab-content .content .custom-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* End Financial Institution */

/* start Trade Development Fund */
.TradeFundClass::before {
  background-image: url(../images/NewTradeAndFinancialAndPolicy/DevelopmentBG.jpg);
}
.TradeFundClass .trade-box .row:first-of-type {
  padding-bottom: 45px !important;
}
.TradeFundClass + .solutionSection {
  margin-bottom: 38px;
}
.TradeFundClass + .solutionSection .SolTitle {
  margin-bottom: 51px;
}
.TradeFundClass + .solutionSection .boxImg {
  height: 700px;
}
.TradeFundBoxClass {
  padding-top: 0;
  background: #fff;
}
.TradeFundBoxClass .BenBox {
  position: relative;
}
.TradeFundBoxClass .BenBox .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ef7e25;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.TradeFundBoxClass .BenBox .Btext {
  background-color: #f8f8f8;
}
.TradeFundBoxClass .longText.BenBox:hover .Bimg {
  height: 115px;
}
.TradeFundBoxClass .longText.BenBox:hover .Btext {
  height: 245px;
}
/* end Trade Development Fund */
/* start Information Policy */
.InformationPolicy {
  padding-bottom: 5px;
}
.InformationPolicy::before {
  background-image: url(../images/NewTradeAndFinancialAndPolicy/PolicyBG.png);
}
.InformationPolicy .trade-box .header span,
.InformationPolicy .inner-heading h1 span {
  color: #d5313a !important;
}
.titlePolice {
  font-size: 35px;
  font-weight: 600;
  color: #d5313a;
  margin-bottom: 24px;
}
.subTitlePolicy {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}
.pointsUl {
  padding: 0;
  list-style-position: inside;
}
.PointSection2 .boxP2 p,
.pragPolicy,
.pointsUl li {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: #646464;
  margin-bottom: 12px;
}
.pointsUl li {
  list-style: initial;
  margin-left: 22px;
}
.pointsUl li::marker {
  color: #d5313a;
}
.introduction {
  margin-bottom: 48px;
}
.PointSection1 .subTitlePolicy {
  font-size: 18px;
}
.PointSection1 .pragPolicy {
  margin-bottom: 24px;
  padding-left: 12px;
}
.PointSection1 {
  margin-bottom: 27px;
}

.PointSection2 {
  background-color: #f3f6fb;
  padding: 40px 0 20px;
}
.PointSection2 .P2BoxImg img {
  max-width: 100%;
  width: 100%;
  max-height: 434px;
  margin-bottom: 35px;
}
.PointSection2 .subTitlePolicy {
  margin-bottom: 40px;
}
.PointSection2 .boxP2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.PointSection2 .boxP2 p {
  margin-bottom: 40px;
}

.PointSection2 .boxP2 span {
  border: 2px solid #d5313a;
  width: 24px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #d5313a;
  font-weight: 500;
  font-size: 16px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 18px;
}
.PointSection3 {
  padding: 40px 0;
}
.PointSection3 + footer {
  margin-top: 80px;
}
.PointSection3 .titlePolice {
  padding: 40px 0;
  margin-bottom: 0;
}
.PointSection3 .subTitlePolicy {
  margin-bottom: 15px;
}
.PointSection3 .P3BoxImg img {
  max-height: 398px;
  max-width: 100%;
  width: 100%;
}
.PointSection3 .row,
.PointSection2 .row,
.PointSection1 .row,
.introduction .row {
  padding: 0 32px;
}

/* end Information Policy */

/* start Trade Finance Overview */

.FinanceOverview::before {
  background-image: url(../images/NewTradeFinanceOverview/bg.svg);
}
.FinanceOverview .trade-box .img-box {
  margin-bottom: 179px;
}

.FinanceProducts {
  background-color: #f3f6fb;
  padding: 82px 0 93px;
}

.FinanceProducts .FPBox {
  margin-bottom: 39px;
  transition: 0.3s;
}
.FinanceProducts .FPBox .FPImg {
  overflow: hidden;
}
.FinanceProducts .FPBox .FPImg img {
  max-height: 228px;
  width: 100%;
  transition: 0.3s;
}
.FinanceProducts .FPBox .FPText {
  padding: 24px 12px;
  background: #fff;
  overflow: hidden;
}
.FinanceProducts .FPBox .FPText h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}
.FinanceProducts .FPBox .FPText a {
  font-size: 18px;
  font-weight: bold;
  color: #ef7e25;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  display: inline-flex;
  position: relative;
  padding-right: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.3s, -webkit-transform 0.4s;
  -o-transition: opacity 0.3s, transform 0.4s;
  transition: opacity 0.3s, transform 0.4s;
  transition: opacity 0.3s, transform 0.4s, -webkit-transform 0.4s;
}
.FinanceProducts .FPBox .FPText a::after {
  content: "";
  background-image: url(../images/NewTradeFinanceOverview/arrow-right.svg);
  background-size: cover;
  position: absolute;
  top: 1px;
  right: 0;
  width: 25px;
  height: 25px;
}
.FinanceProducts .FPBox:hover {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.FinanceProducts .FPBox:hover .FPText a {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.FinanceProducts .FPBox:hover .FPImg img {
  -webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);
}
/* end Trade Finance Overview */

/* media */
@media (min-width: 1440px) {
  .TreasuryProducts .container {
    /* max-width: 1314px; */
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .BenefitSection .longText.BenBox:hover .Btext p {
    line-height: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .customAccordion .textBox {
    margin-left: 23px;
  }
  .TreasuryProducts .TPbox .TPtext p {
    font-size: 16px;
  }
  .TreasuryProducts .TPbox .TPtext p br {
    display: none;
  }
  .project-tabs.MurabahaFinancing .tab-content .content {
    padding-left: 60px;
  }
  .MurabahaCalss:not(.MurabahaFinancing) .trade-box .row:first-of-type {
    padding-bottom: 40px;
  }
  /* start Strategy page */
  .StrategyWrapper .col-md-3,
  .StrategyWrapper .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .StrategyPrinciples .col-md-2 {
    display: none;
  }
  .COVIDImpact .boxCI img {
    max-width: 340px;
    margin-right: 20px;
  }
  .BeyondStatus .leftBS p {
    font-size: 33px;
  }
  /* end Strategy page */
  /* start StructuredTrade Finance */
  .SFTwoBox .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .SFTwoBox .SFbox {
    margin-bottom: 30px;
  }
  /* end StructuredTrade Finance */

  /* Start LC Confirmation  */
  .BenefitSection .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .BenefitSection .longText.BenBox:hover .Bimg {
    height: 80px;
  }
  .BenefitSection .longText.BenBox:hover .Btext {
    height: 280px;
  }
  .solutionSection .boxImg {
    height: auto;
    padding: 0 25px;
  }
  /* End LC Confirmation  */

  /* start Information Policy */
  .PointSection2 .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .PointSection3 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .PointSection3 .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* end Information Policy */
  .FinanceProducts .emptyBox {
    display: none;
  }
}

@media (max-width: 767px) {
  .MurabahaCalss .trade-box .img-box2,
  .TreasuryDealing .trade-box .img-box2 {
    height: auto;
    margin-bottom: 25px;
    padding: 0;
  }
  .MurabahaCalss:not(.MurabahaFinancing) .trade-box .row:first-of-type {
    padding-bottom: 40px;
  }

  .MurabahaCalss .trade-box .header p,
  .TreasuryDealing .trade-box .header p {
    margin-bottom: 35px;
    line-height: 24px;
    font-size: 16px;
    height: auto;
  }
  .MurabahaCalss .trade-box .row:not(:first-of-type) .headingTitle {
    font-size: 25px;
    margin: 5px 0 13px 0;
  }
  .MurabahaCalss .trade-box .header > span img {
    max-width: 70%;
  }
  .MurabahaCalss .trade-box .header .headingTitle,
  .TreasuryDealing .trade-box .header .headingTitle {
    font-size: 25px;
    line-height: 24px;
  }
  .MurabahaCalss .trade-box .header .headingTitle span,
  .TreasuryDealing .trade-box .header .headingTitle span {
    font-size: 25px;
    line-height: 24px;
  }
  .customAccordion .card .card-body .imgBox {
    text-align: center;
    margin-bottom: 20px;
  }
  .customAccordion .card .card-header h2 button {
    font-size: 20px;
    padding-right: 55px;
  }
  .TreasuryProducts {
    margin-bottom: 60px;
  }
  .TreasuryProducts .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .FinanceProducts .emptyBox,
  .TreasuryProducts .emptyBox {
    display: none;
  }
  .TreasuryProducts .TPtext p br {
    display: none;
  }
  .TreasuryProducts .col-md-12 p {
    margin-top: 20px;
  }

  /* Start Murabaha Financing */
  .MurabahaFinancing .headingTitle {
    margin-top: 20px;
  }
  .project-tabs.MurabahaFinancing {
    padding-top: 0px;
  }
  .project-tabs.MurabahaFinancing .tab-content .content {
    padding-left: 62px;
  }
  .project-tabs.MurabahaFinancing .rounded-tabs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  /* End Murabaha Financing */

  /* Start Our Partners */

  .Partnerships .header .headingTitle span,
  .Partnerships .header .headingTitle {
    font-size: 25px;
    line-height: 34px;
  }
  .Partnerships .trade-box .header p {
    margin-top: 30px;
    font-size: 16px;
  }
  .Partnerships .trade-box .header p span {
    font-size: 17px;
    line-height: 1.2;
  }
  /* end Our Partners */

  /* start Strategy page */
  .StrategyWrapper {
    padding: 60px 0px 40px;
  }
  .StrategyWrapper .StrategyBox {
    margin-bottom: 30px;
    height: auto;
  }
  .StrategyWrapper .headSection h2 {
    font-size: 25px;
  }
  .StrategyWrapper .headSection p {
    font-size: 17px;
  }
  .StrategyWrapper .StrategyBox .SText .STitle {
    height: auto;
  }
  .COVIDImpact .boxCI img {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .BeyondStatus {
    padding: 80px 0 0px 0px;
    background-size: cover;
  }
  .BeyondStatus .leftBS p span,
  .BeyondStatus .leftBS p {
    font-size: 25px;
  }
  .BeyondStatus .rightBS p {
    font-size: 16px;
    padding-top: 25px;
  }
  .COVIDImpact {
    padding: 60px 0;
  }
  /* end Strategy page */

  /* start StructuredTrade Finance */
  .SFTwoBox {
    margin: 55px 0 67px;
    padding: 40px 25px;
  }
  .SFTwoBox .SFbox {
    margin-bottom: 30px;
  }
  .SFTwoBox .SFbox .SFText p {
    line-height: 30px;
  }
  .StructuredFinance .row + .row {
    margin-bottom: 40px;
  }
  /* end StructuredTrade Finance */
  /* start LC Confirmation  */
  .BenefitSection .longText.BenBox:hover .Bimg {
    height: 80px;
  }
  .BenefitSection .longText.BenBox:hover .Btext {
    height: 280px;
  }
  .LCConfirmation h2 {
    margin-bottom: 10px;
  }
  .BenefitSection {
    padding: 45px 0 35px;
  }
  .BenefitSection .SolTitle,
  .solutionSection .SolTitle {
    font-size: 25px;
  }
  .BenefitSection .SolTitle {
    margin-bottom: 50px;
  }
  .solutionSection .boxImg {
    height: auto;
    /* padding: 0 25px; */
  }
  /* End LC Confirmation  */
  /* start Financial Institution */
  .InformationPolicy .pragh p,
  .FinancialClass .pragh p {
    line-height: 24px;
    font-size: 16px;
  }

  /* end Financial Institution */
  /* start Trade Development Fund */
  .TradeFundClass + .solutionSection .boxImg {
    height: auto;
  }
  .TradeFundClass .trade-box .row:first-of-type {
    padding-bottom: 0px !important;
  }
  /* end Trade Development Fund */

  /* start Information Policy */
  .PointSection3 .row,
  .PointSection2 .row,
  .PointSection1 .row,
  .introduction .row {
    padding: 0 15px;
  }
  .titlePolice {
    font-size: 25px;
  }
  .PointSection3 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .subTitlePolicy {
    font-size: 16px;
    line-height: 1.5;
  }
  /* end Information Policy */
  .titleAccordion {
    font-size: 25px;
  }
  .FinanceProducts .FPBox .FPText h3 {
    font-size: 18px;
  }
  .FinanceProducts .FPBox .FPText a {
    font-size: 16px;
  }
  .FinanceProducts .FPBox .FPText a::after {
    background-size: 90%;
    background-repeat: no-repeat;
  }
}
