
.TreasuryDealing::before {
    content: "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/TreasuryDealing/bgSection.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/TreasuryDealing/bgSection.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: scaleX(-1);    -ms-transform: scaleX(-1);    transform: scaleX(-1);
  }
  
  .TreasuryDealing .trade-box .img-box2 {
    height: 387px;
    margin-bottom: 48px;
    padding: 0;
  }
  
  .TreasuryDealing .trade-box .img-box2 .img-wrapper {
    padding-top: 0;
    background-color: #76b3cf;
  }
  
  .TreasuryDealing .trade-box .img-box2::after {
    content: none;
  }
  
  .TreasuryDealing .trade-box .header {
    padding: 0;
    margin-bottom: 0;
  }
  
  .TreasuryDealing .trade-box .header .headingTitle {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    color: #1d1d1b;
  }
  
  .TreasuryDealing .trade-box .header .headingTitle span {
    color: #EF7E25;
    font-size: 40px;
  }
  
  .TreasuryDealing .trade-box .header p {
    color: #1d1d1b;
    margin-top: 10px;
    line-height: 2;
    font-size: 18px;
  }
  
  .customAccordion .card {
    border: unset;
    margin-bottom: 24px;
    background-color: #F8F8F8;
  }
  
  .customAccordion .card .card-header {
    padding: 0;
    background-color: #F8F8F8;
    border: unset;
  }
  
  .customAccordion .card .card-header h2 button {
    font-size: 24px;
    font-family: "DINNextLT";
    color: #EF7E25;
    font-weight: 700;
    padding: 26px 24px;
    text-align: left;
    text-decoration: unset;
    position: relative;
  }
  
  .customAccordion .card .card-header h2 button::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 13px;
    background-image: url(../images/TreasuryDealing/arrowD.svg);
    -webkit-filter: invert(52%) sepia(90%) saturate(592%) hue-rotate(342deg) brightness(95%) contrast(96%);
            filter: invert(52%) sepia(90%) saturate(592%) hue-rotate(342deg) brightness(95%) contrast(96%);
    background-repeat: no-repeat;
    right: 24px;
    -webkit-transition: .4s;
    transition: .4s;
    top: 38px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .customAccordion .card .card-header h2 button:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  
  .customAccordion .card .card-header h2 button.collapsed {
    color: #000000;
  }
  
  .customAccordion .card .card-header h2 button.collapsed::after {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  .customAccordion .card .card-body {
    padding-top: 10px;
    padding-bottom: 8px;
  }
  
  .customAccordion .card .card-body .textBox h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: "DINNextLT";
  }
  
  .customAccordion .card .card-body .textBox ul {
    padding-left: 25px;
  }
  
  .customAccordion .card .card-body .textBox ul li p {
    color: #646464;
    font-weight: 400;
    font-family: "DINNextLT";
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .customAccordion .card .card-body .textBox ul li::marker {
    color: #EF7E25;
  }
  
  .TreasuryProducts {
    background-color: #F3F6FB;
    padding: 48px 0;
    margin-bottom: 120px;
  }
  
  .TreasuryProducts h2 {
    font-size: 35px;
    font-family: "DINNextLT";
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 56px;
  }
  
  .TreasuryProducts .col-md-12 p {
    font-size: 16px;
    font-family: "DINNextLT";
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .TreasuryProducts .TPbox {
    margin-bottom: 20px;
  }
  
  .TreasuryProducts .TPbox .TPicon img {
    max-width: 100%;
  }
  
  .TreasuryProducts .TPbox .TPtext p {
    color: #707070;
    font-weight: 500;
    font-family: "DINNextLT";
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 7px;
  }









  /* media */
  @media (min-width: 1440px) {
    .TreasuryProducts .container {
      max-width: 1314px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1000px) {
    .customAccordion .textBox {
      margin-left: 23px;
    }
    .TreasuryProducts .TPbox .TPtext p {
      font-size: 16px;
    }
    .TreasuryProducts .TPbox .TPtext p br {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .TreasuryDealing .trade-box .img-box2 {
      height: auto;
      margin-bottom: 25px;
      padding: 0;
    }
    .TreasuryDealing .trade-box .header p {
      margin-bottom: 35px;
    }
    .TreasuryDealing .trade-box .header .headingTitle {
      font-size: 25px;
      line-height: 24px;
    }
    .TreasuryDealing .trade-box .header .headingTitle span {
      font-size: 25px;
      line-height: 24px;
    }
    .customAccordion .card .card-body .imgBox {
      text-align: center;
      margin-bottom: 20px;
    }
    .customAccordion .card .card-header h2 button {
      font-size: 20px;
      padding-right: 55px;
    }
    .TreasuryProducts {
      margin-bottom: 60px;
    }
    .TreasuryProducts .col-md-2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
    }
    .TreasuryProducts .emptyBox {
      display: none;
    }
    .TreasuryProducts .TPtext p br {
      display: none;
    }
    .TreasuryProducts .col-md-12 p {
      margin-top: 20px;
    }
  }